$('#roles_that_see_me_placeholder').html("#{escape_javascript(render('groups_and_roles_that_see_me', groups_and_roles_that_see_me: @groups_and_roles_that_see_me))}")
$('#roles-that-see-me-spinner').hide()
