%td
  %strong= link_to(p.person.to_s, group_event_participation_path(@group, @event, p.id))
  %br/
  = p.person.town
%td= p.priority(event) if event.priorization?
%td= p.confirmation if event.requires_approval?