%td
  %strong= link_to(p.person.to_s, event_participation_path(p.event_id, p.id))
  %br/
  = p.person.town
%td= p.priority(event) if event.priorization?
%td= p.confirmation if event.requires_approval?