-parent_sheet GroupSheet.new(self, event.group)
-title event.name

=render 'events/tabs'

#main.row-fluid
  %article.span6
    %h2 Zuteilung
    %p
      %span#booking_info= event.booking_info
      verfügbaren Plätzen zugeteilt
    
    %table.table.table-striped.table-hover{style: "width: 450px;"}
      %tbody#participants
        - @participants.each do |p|
          = render 'participant', p: p
    

  %article.span6
    %h2 Anmeldungen
    
    %table.table.table-striped.table-hover{style: "width: 450px;"}
      %tbody#applications
        - @applications.each do |p|
          = render 'application', p: p
