= f.input_field(:number, class: 'span4', placeholder: 'Nummer')
= f.collection_select(:label, Settings.phone_number.predefined_labels, :to_s, :to_s, {}, class: 'span2')
= render 'contactable/public_check_box', f: f
