%section.contactable
  %address
    %strong=contactable.to_s if defined?(with_name)
    =contactable.complete_address
    =contactable.primary_email
    =contactable.all_phone_numbers(only_public)
  
  =contactable.all_social_accounts(only_public)
