.contactable.well
  - if contactable.respond_to?(:picture)
    .profil-big.pull-right
      = image_tag(contactable.picture_url, size: '72x72')

  %address
    %strong=contactable.to_s
    =contactable.complete_address
    =contactable.primary_email
    =contactable.all_phone_numbers(only_public)

  .social
    =contactable.all_social_accounts(only_public)  