.contactable.well
  %address
    %strong=contactable.to_s
    =contactable.complete_address
    =contactable.primary_email
    =contactable.all_phone_numbers(only_public)

  .social
    =contactable.all_social_accounts(only_public)
