-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

%div.col-4.inline
  = f.input_field(:name,
                  class: 'form-control form-control-sm',
                  placeholder: t('.placeholder_value'))

%div.col-3.inline.me-5
  = f.input_field(:translated_label,
                  class: 'form-control form-control-sm',
                  placeholder: t('.placeholder_type'),
                  data: {provide: :typeahead, source: SocialAccount.available_labels})

= render 'contactable/public_check_box', f: f
