-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.
%div.d-flex.flex-wrap.w-100.align-items-center
  %div.col-11.col-md-5.me-3.mb-1
    = f.input_field(:name,
                    placeholder: t('.placeholder_value'))

  %div.col-11.col-md-4.d-flex.flex-row.me-3
    = f.input_field(:translated_label,
                    placeholder: t('.placeholder_type'),
                    data: {provide: :typeahead, source: SocialAccount.available_labels})

  = render 'contactable/public_check_box', f: f
