#calculated.control-group
  .controls
    %dl.dl-horizontal
      %dt.muted Cost
      %dd= calculated[:cost]
      %dt.muted MWSt.
      %dd= calculated[:vat]
      %dt.muted Total
      %dd= calculated[:total]
