- question = f.object.question
= f.labeled(question.question) do
  - if question.choices?
    - question.choice_items.each do |q|
      = f.inline_radio_button(:answer, q, q, false)
  - else
    = f.text_field(:answer)
