%table.table.table-striped.table-hover
  %tbody
    - entries.each do |p|
      %tr{id: dom_id(p)}
        %td.center= p.qualification_link(@group)
        %td
          %strong= link_to(p.to_s, group_event_participation_path(@group, @event, p))
        %td= p.town
