- if @event.kind.qualification_kinds(%w(qualification prolongation), 'leader').to_a.present?
  %p= event.issued_qualifications_info_for_leaders

  = render 'list', entries: @leaders

- if @event.kind.qualification_kinds(%w(qualification prolongation), 'participant').to_a.present?
  %p= event.issued_qualifications_info_for_participants

  = render 'list', entries: @participants
