-#  Copyright (c) 2012-2017, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- title event.to_s

= form_tag(group_event_qualifications_path(@group, @event), method: :put) do

  = render 'people'

  .btn-group
    = button_tag(t('event.qualifications.index.save'),
                 class: 'btn btn-primary',
                 data: { disable_with: t('event.qualifications.index.save') })
