-#  Copyright (c) 2020, CVP Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- if Settings.messages.enable_writing && can?(:update, @mailing_list)
  = action_button(t('.text_messages.new'), new_group_mailing_list_message_path(@group, @mailing_list, type: 'text_message'), :sms, remote: true)
  = action_button(t('.letters.new'), new_group_mailing_list_message_path(@group, @mailing_list, type: 'letter'), :'envelope-open-text', remote: false)
