-#  Copyright (c) 2020, CVP Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- title @mailing_list.to_s

- content_for :filter do
  .pull-right
    = render 'shared/page_per_year', paging_params: { returning: true }

= crud_table(:type, :updated_at, :subject) do |t|
  - t.attr :state
  - action_col(t) do |e|
    - if !e.is_a?(Messages::BulkMail)
      - link_action_edit(action_path(e))
