-#  Copyright (c) 2020, CVP Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

#modal-preview.modal.fade{ style: 'width: 80%; left: 20%; height: 80vh' }
  .modal-dialog{ style: 'height: 100%' }
    .modal-content{ style: 'height: 100%' }
      %embed{ src: group_mailing_list_message_preview_path(format: 'pdf'), type: 'application/pdf', style: 'width: 100%; height: 100%' }
