-#  Copyright (c) 2012-2015, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- content_for(:toolbar, render('actions_index'))

- unless @group.require_person_add_requests
  %p
    %strong= t('.deactivated')
  %p= sanitize(t('.deactivated_caption'), attributes: [:strong])

= render 'list'

- if @group.require_person_add_requests && can?(:activate_person_add_requests, @group)
  = render 'approvers'
