-#  Copyright (c) 2012-2017, Dachverband Schweizer Jugendparlamente. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- if @note.errors.blank?
  App.Notes.addNote('#{escape_javascript(render @note, show_subject: false)}');
- else
  App.Notes.showError('#{@note.errors.full_messages.join("\n")}');
