
# Settings relevant for the <%= singular_name %> wagon
# Overrides settings from the main application
application:
  languages:
    de: Deutsch

# The person with this email has root access to everything
# This person should only be used by the operators of the application,
# not the customers.
# Initially, a password reset token may be mailed from the application
# to this address to set a password.
root_email: <%= singular_name.gsub('_', '-') %>@puzzle.ch