- #  Copyright (c) 2018, Pfadibewegung Schweiz. This file is part of
- #  hitobito and licensed under the Affero General Public License version 3
- #  or later. See the COPYING file at the top-level directory or at
- #  https://github.com/hitobito/hitobito.

- title = t('activerecord.models.service_token.other')

= crud_table do |t|
  - t.col(ServiceToken.human_attribute_name(:key)) do |service_token|
    - service_token.full_title
  - t.col(ServiceToken.human_attribute_name(:abilities)) do |service_token|
    - service_token.abilities
  - t.attr(:last_access)

  - unless @group.archived?
    - add_table_actions(t)

