-#  Copyright (c) 2026, Hitobito AG. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

= button_action_edit if can?(:edit, entry)
- if can?(:new, entry)
  = action_button(t('events.global.link.duplicate'),
    new_group_period_invoice_template_path(@group, source_id: entry.id), :copy)
