-#  Copyright (c) 2026, BdP and DPSG. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

= entry_form(buttons_top: false, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }) do |f|
  = f.labeled_input_fields :name, :start_on, :end_on

  = f.labeled t("activerecord.attributes.period_invoice_template.items") do
    - Settings.groups.period_invoice_templates.item_classes.each do |item_class|
      = render "items_fields", item_class: item_class, f: f

    -# Inserted elements will be injected before this target.
    %div{ data: { nested_form_target: "target" } }

    %button{ type: "button", data: { action: "nested-form#add" } }= "Add item"
