/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* Imports Compass */
@import "compass/typography/lists/horizontal-list";

// Grays
// -------------------------
$grayDark:      #5E6066 !default;




/* Layout */
body { }
h1 {  }

header {
  @include clearfix;
  background: white;
  height: 40px;
  padding: 10px 20px;

  .brand {
    float: left;
    font-size: 2.462em; // 32px
    line-height: 1.250em; // 40px
  }

  .options {
    float: right;
    ul.nav {
      @include horizontal-list(10px);
    }
  }
}


body > nav {
  padding: 10px 20px;
  ul.nav {
    @include horizontal-list(15px);
    li a { 
      font-size: 1.077em;
      text-transform: uppercase;
      color: $grayDark;
    }
  }
}