.bundle/
log/*.log
tmp/
pkg/
doc/rdoc
db/*.sqlite3
zeus.json
.sass-cache
.project
.envrc
*.iml
.generators
.idea
.rakeTasks

# ignore Gemfile.lock for wagons
Gemfile.lock

# reports
spec/coverage
spec/reports
brakeman-output.tabs
rubocop-results.xml
coverage

.tool-versions
.pry_history
.envrc
