# Hitobito <%= wagon_name.titleize %>

This hitobito wagon defines the organization hierarchy with groups and roles
of <%= wagon_name.humanize %>.


## <%= wagon_name.titleize %> Organization Hierarchy

<!-- roles:start -->

(Output of rake app:hitobito:roles)
<!-- roles:end -->
