- content_for(:toolbar, require_person_add_requests_button)

- if @group.require_person_add_requests
  requests table ...

- else
  %p
    %strong= t('.deactivated')
  %p= sanitize(t('.deactivated_caption'), attributes: [:strong])
