- content_for(:toolbar, render('actions_index'))

- unless @group.require_person_add_requests
  %p
    %strong= t('.deactivated')
  %p= sanitize(t('.deactivated_caption'), attributes: [:strong])

= render 'list'
