= f.labeled_input_field :sender_name, help: t('.sender_name_help'),
  pattern: '^(?!.*[^\s@]+@[^\s@]+\.[^\s@]+$).*',
  oninvalid: "setCustomValidity('#{t('.email_validation')}')"
= f.labeled_input_field :email, help: t('.email_help')
