- if can?(:edit, entry)
  = button_action_edit
  
- if can?(:send_password_instructions, entry) 
  = action_button('Login schicken', 
                  send_password_instructions_group_person_path(parent, entry), 
                  :envelope,
                  remote: true, 
                  method: :post)
                  
- if @person == current_user
  = action_button 'Passwort ändern', edit_person_registration_path