= Dropdown::RoleAdd.new(self, @group) if can?(:new, @group.roles.new)

= action_button('Liste importieren', new_group_csv_imports_path, :upload) if can?(:new, @group.roles.new)

= dropdown_people_export(can_export_people_details?)

= action_button('Drucken', 'javascript:window.print();', :print)

