- if can?(:update_email, entry)
  = f.labeled_input_field :email
- else
  = f.labeled(:email) do
    %p.inline= entry.email
    = f.help_block do
      Die E-Mail Adresse einer Person mit mehreren Rollen kann nur
      von einem über alle diese Rollen übergeordneten Benutzer geändert werden.
