- if can?(:update_email, entry)
  = f.labeled_input_field :email, help_inline: t('.used_as_login')
- else
  = f.labeled(:email) do
    %p.inline= entry.email
    = f.help_block(t('.only_changeable_by_superior'))
