%aside.span5{data: {role: data_role}}
  %section.group_children
    %h2=title
    %table.table.table-basic
      - collection.each do |item|
        %tr
          %td
            %strong= item.labeled_link
          %td= item.dates_full
