- @sheets = GroupSheet.new(self, @group, :group_people_path, :index_people)

= render 'groups/tabs'

= crud_table do |t|
  - t.col('Name')    do |p| 
    -# Any person listed can be shown
    = link_to(p.to_s, @multiple_groups ? group_person_path(p.roles.first.group_id, p) : group_person_path(@group, p))
  - t.col('Rolle')   {|p| render_roles(p, @multiple_groups ? nil : @group) }
  - t.col('Email')   {|p| p.email }
  - t.col('Telefon') {|p| p.all_phone_numbers(true) }
  - t.col('Adresse') {|p| p.complete_address }
  - t.col('Social')  {|p| p.all_social_accounts(true) }

