.hidden
  .multiselect
    .count
    = ti('selected')
    .actions
      = action_button(translate('.add'),
        new_group_role_list_path(@group),
        :plus,
        data: { checkable: true, method: :get },
        remote: true)

      = Dropdown::RoleList.new(self, @group, :move, 'arrow-right')
      = Dropdown::RoleList.new(self, @group, :remove, :trash)

#role-form
