.hidden
  .multiselect
    .count
    = ti('selected')
    .actions
      = Dropdown::RoleList.new(self, @group, :add, :plus)
      = Dropdown::RoleList.new(self, @group, :move, 'arrow-right')
      = Dropdown::RoleList.new(self, @group, :remove, :trash)

#move-modal
