-#  Copyright (c) 2012-2016, Dachverband Schweizer Jugendparlamente. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.


- assignable = can?(:assign_tags, entry)
- if assignable || can?(:show_tags, entry)
  %section
    %h2= ActsAsTaggableOn::Tag.model_name.human(count: 2)

    - path = group_person_tags_path(@group, entry)

    = render 'taggable/list', tags: @tags, path: path, deletable: assignable

    - if assignable
      = render 'taggable/form', path: path

    - elsif @tags.blank?
      = t('taggable.no_entry')
