%aside.span5{data: {role: 'upcoming'}}
  %section.group_children
    %h2 Events
    = table(entry.upcoming_events, class: 'table') do |t|
      - t.col('') do |event|
        = event.labeled_link
      - t.col('') do |event|
        = event.dates_info
