- parent_sheet(GroupSheet.new(self, @group, :group_people_path, :index_people))
- title(entry)

=render 'tabs'

= table(@roles) do |t|
  - t.col('Gruppe') do |c| 
    - c.group 
  - t.col('Rolle') do |c| 
    - c.class.model_name.human 
  - t.col('Von') do |c| 
    - f(c.created_at.to_date)
  - t.col('Bis') do |c| 
    - f(c.deleted_at.to_date) if c.deleted?
