- parent_sheet(GroupSheet.new(self, @group, :group_people_path, :index_people))
- title(entry.to_s)

= render 'tabs'


%h2 Rollen

= table(@roles, class: 'table table-striped') do |t|
  - t.attr(:group_id, 'Gruppe')
  - t.col('Rolle') do |r| 
    = r.to_s
  - t.attr(:created_at, 'Von')
  - t.attr(:deleted_at, 'Bis')
