-#  Copyright (c) 2025, Schweizer Alpenclub SAC. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- if p.event.qualifications_visible?
  = t("person.history.index.#{p.qualified ? '' : 'not_'}qualified")
  %br
- if p.event.training_days?
  - days = p.event.training_days
  = t('person.history.index.training_days', count: days.to_i == days ? days.to_i : days)
