- if roles.present?
  %h2=title

  = table(roles, class: 'table table-striped table-fixed') do |t|
    - t.col(Group.model_name.human) do |r|
      = GroupDecorator.new(r.group).link_with_layer
    - t.col(Role.model_name.human) do |r|
      = r.to_s
    - t.attr(:created_at, t('global.from')) { |r| I18n.l(r.start_on) }
    - t.attr(:deleted_at, t('global.until'))
    - render_extensions :history_columns, locals: { t: t }
