%nav.nav-left-list
  %inner
    %h3.nav-left-title.active= link_to(parent, group_invoices_path(parent))
    %ul.nav-left-list
      %li= link_to(t('navigation.admin'), '#')


    %ul.nav-left-list
    - (current_user.finance_groups - [parent]).each do |group|
      - attrs = { class: 'active' } if current_page?(group_invoices_path(group))
      = content_tag(:li, link_to(group, group_invoices_path(group)), attrs)

