= entry_form do |f|
  = f.labeled_input_field :name
  = f.labeled_inline_checkbox :scopes 
  = f.labeled_text_area :redirect_uri, rows: 5,
    help: raw(t('doorkeeper.applications.help.native_redirect_uri',
      native_redirect_uri: content_tag(:code, class: 'bg-light') { Doorkeeper.configuration.native_redirect_uri }))

