-#  Copyright (c) 2025, SAC CAS. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

%span.chip.tag{data: {tag_id: tag.id, bs_toggle: 'tooltip', bs_html: 'true'}, title: tag.hitobito_tooltip }
  = format_tag_name(tag)
  - if deletable
    = link_to icon(:times),
              "#{path}?#{{name: tag.name}.to_param}",
              method: :delete,
              remote: true,
              class: 'tag-remove',
              data: { tag_id: tag.id }
