-#  Copyright (c) 2026, Hitobito AG. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

= table(payments, class: 'table table-stripped', id: 'payments-with-invoice') do |t|
	- t.col('') do |p|
		- if p.valid?
			- if p.settles?
				%i.fas.fa-check{title: t('.icon_tooltip_settles')}
			- elsif p.undercuts?
				%i.fas.fa-minus{title: t('.icon_tooltip_undercuts', difference: p.difference)}
			- elsif p.exceeds?
				%i.fas.fa-plus{title: t('.icon_tooltip_exceeds', difference: p.difference)}
		- else
			%i.fas.fa-exclamation-triangle{title: p.errors.full_messages.join("\n")}
	- t.col(Invoice.model_name.human) do |p|
		%strong=link_to(p.invoice.title, [p.invoice.group, p.invoice])
	- t.col(Invoice.human_attribute_name(:recipient)) do |p|
		%strong=format_attr(p.invoice, :recipient)
	- t.col(Invoice.human_attribute_name(:state)) { |p| format_attr(p.invoice, :state) }
	- t.col(Invoice.human_attribute_name(:esr_number)) { |p| p.invoice.esr_number }
	- t.col(t('.amount_open')) { |p| f(p.invoice.amount_open) }
	- t.attr :amount
	- t.col(Payment.human_attribute_name(:received_at), class: 'right') { |p| l(p.received_at) }