= crud_table do |t|
  - t.col(PersonalDocument.human_attribute_name :file) do |e|
    = link_to icon(:download), e.file, target: '_blank'
  - t.attrs(:personal_document_label, :filename, :description, :author, :created_at, :updated_at)
  - add_table_actions(t)
