.oauth-dialog {
  @media screen and (min-width: 500px) {
    #page .container-fluid {
      min-width: auto;
      width: 750px;
    }

    .form-horizontal .control-label {
      width: auto;
      float: none;
      text-align: left;
    }

    .form-horizontal .controls {
      margin-left: 0px;
    }

    input.col6, textarea.col-6, .uneditable-input.col-6 {
      /* width: 556px; */
      width: 100%;
    }
  }

  #content div.offset-md-3.offset-xl-2 {
    width: 70%;
  }
}

.oauth-application-logo {
  text-align: center;
  padding: 10px;

  img {
    margin-bottom: 10px;
  }
}
