.table-responsive {
  .table {
    background-color: #fff;
  }

  @media screen and (max-width: $mediaDesktop) {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;

    .table {
      margin-bottom: 0;
    }
  }
}

.table-striped th:first-child {
  padding-left: 8px;
}

.table-fixed {
  table-layout: fixed;
}

td.action {
  text-align: center;
}

table.roles {
  width: 100%;
  td {
    border: none;
    padding: 0px;
  }
  td:first-child { padding-left: 10px; width: 100%; }
  td { min-width: 20px; }
}
