@import url(//fonts.googleapis.com/css?family=Varela+Round);


/* Layout */
body {
	font-family: "Varela Round", sans-serif;
}

nav, main {
	overflow-x: hidden;
}

h1 {font-size: 2em;}
h2 {font-size: 2em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.2em;}





/* NAV LISTEN */

nav {
	background-color: #329897;
	color: white;
}

nav li li li {
	display: none;
}


nav li {
	line-height: 150%;
	list-style: none;
}

nav li > a {
	text-decoration: none;
}

nav li > a:hover {
	text-decoration: underline;
}

nav ul {
	padding-left: 0;
}

nav ul > li > ul {
	padding-left: 2em;
}

nav li > ul > li {
	font-size: 90%;
}

nav a {
	color: inherit;
}


/* Code */


pre { 
	padding: 1em;
	background-color: #eee;
	color: #6f4073;
	border-radius: 4px;
	overflow-x: scroll;
}

/* Table */

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #999;
}

/* Desktop */

@media screen and (min-width: 50em) {
	body {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0;
		padding: 0;
	}

	nav, main {
		height: 100%;
		overflow-y: auto;
		padding: 1em;
	}

	nav {
		flex: 1 1 auto;
		width: 20em;
	}

	main {
		flex: 3 1 auto;
		width: 30em;
	}

	nav li li li {
		display: list-item;
	}

}

