= dropdown_button('Person hinzufügen', @event.possible_role_links, :plus) if can?(:new, @event.participations.new)
= pill_dropdown_button(role_filter_title, role_filter_links, nil, nil, 'pull-right')
