- if can?(:new, @event.new_role)
  = Dropdown::Event::RoleAdd.new(self, @group, @event) 

= dropdown_people_export(can?(:show_details, entries.first))

= action_button('Drucken', 'javascript:window.print();', :print)

