- if can?(:new, @event.participations.new)
  = dropdown_button('Person hinzufügen', @event.possible_role_links(@group), :plus) 

= dropdown_button('Export', people_export_links(can?(:show_details, entries.first)), :download)

= action_button('Drucken', 'javascript:window.print();', :print)

= pill_dropdown_button(role_filter_title, role_filter_links)
