-if can?(:show_details, entry) # participation
  -if @answers.present?
    %h4 Spezifische Angaben
    %dl
    - @answers.each do |answer|
      %dt= answer.question.question
      %dd= answer.answer
    %br/

  - if entry.additional_information.present?
    %h4= t('activerecord.attributes.event/participation.additional_information')
    = simple_format(entry.additional_information)
