- # frozen_string_literal: true

- #  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
- #  hitobito and licensed under the Affero General Public License version 3
- #  or later. See the COPYING file at the top-level directory or at
- #  https://github.com/hitobito/hitobito.

- if FeatureGate.enabled?('people.people_managers')
  - if entry.person.people_managers.any?
    %section
      = render 'person/managers/list', person: entry.person, readonly: true
