-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

= section t('event.alternative_dates') do
  %table.table
    - [@application.priority_2, @application.priority_3].each_with_index do |prio, i|
      %tr
        %td= t('event.participations.priorities.alternative_course', number: i+1)
        %td= prio.try :labeled_link
        %td= prio.try :dates_full
