= section_table('Rollen', entry.roles) do |role|
  %td
    %strong= role.to_s
  %td= link_action_edit(edit_event_role_path(entry.event, role)) if can?(:edit, role)
  %td= link_action_destroy(event_role_path(entry.event, role)) if can?(:destroy, role)