.nav-left {
	box-sizing: border-box;

	overflow: auto;
	border-radius: 6px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	background-color: white;

	// list resets
	
	ul { margin: 0}

	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	// make active section slightly darker

	& > .nav-left-list {

		& > li > .nav-left-list { padding-top: 0.5rem; }

		.nav-left-title a {
			font-size: 24px;
		}
		& > li {
			padding-bottom: 1rem;
		}

		& > li.active {
			background-color: rgba(0,0,0,0.1);
		}

		// first level links with icons

		& > li > a {
			display: block;
			color: $black;
			font-size: 24px;
			padding: 1rem 1rem 0rem;
			i {
				padding-right: 1rem;
				max-width: 1rem;
				margin-right: 1rem;
			}
		}
	}

	// All the styling should be applied to the link element, as the the lists are nested.


	a {
		color: $black;
		font-weight: 300;
		display: block;
	}

	.divider {
		color: rgba(255,255,255,0.7);
		text-transform: uppercase;
		font-weight: 100;
		display: inline-block;
		margin-top: 1rem;
	}

	// second level

	.nav-left-list  {
		.nav-left-title a, a, .divider {
			padding: 0.2rem 0.5rem 0.2rem 3rem;
			border-left: 4px solid transparent;
		}

		.nav-left-title.active a, .nav-left-list .active > a {
			background-color: rgba(255,255,255,0.1);
			border-left: 4px solid $blue;
		}
	}

	// further levels

	$offset: 0.7rem;
	.nav-left-list ul ul {
		a { padding-left: (3rem + $offset); }
		ul {
			a { padding-left: (3rem + 2*$offset) }
			ul {
				a { padding-left: (3rem + 3*$offset ) }
				ul {
					a { padding-left: ( 3rem + 4 * $offset)	}
					ul { 
						a { padding-left: (3rem + 5 * $offset)}
					}
				}
			}
		}
	}

	// nav left back

	.nav-left-back {
		font-size: 0.7rem !important;
		padding-left: 3rem !important;
	}
}

