.person-tags-category {
  display: table-row;
  margin-top: 12px;
}
.person-tags-category-title,
.person-tags-category-list {
  display: table-cell;
  padding-bottom: 6px;

  &.hidden {
    display: none;
  }
}

.person-tags-category-title {
  padding-bottom: 20px;
  padding-right: 20px;
  text-align: right;
}

.person-tags-add-form {
  display: inline-block;
  margin-bottom: 4px;

  input[type="text"] {
    margin-bottom: 0 !important;
  }
}
