.person-tag {
  margin-bottom: 4px;
  padding: 3px 6px;
  border: 2px solid $grayDark;
  font-size: 14px;
  line-height: 20px;
}

.person-tag-add {
  color: $textColor;
  font-weight: normal;
  border: 2px dashed $grayLight;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: $grayLighter;
  }
}

.person-tags-list {
  display: inline;
}

.person-tags-add-form {
  display: inline-block;
  margin-bottom: 4px;

  input[type="text"] {
    margin-bottom: 0 !important;
  }
}
