.note {
  border-top: 1px solid $grayLight;
  padding: 5px 0 10px;
  position: relative;

  .note-image {
    position: absolute;
    width: 40px;
  }

  .note-body {
    position: relative;
    left: 60px;
    padding-right: 60px;
    widht: 100%;
  }

  .note-person {
    font-size: 110%;
  }

  .note-author {
    float: right;
  }
  @include responsive(phone, $mediaTablet) {
    .note-person {
      width: 100%;
      clear: both;
    }
    .note-author {
      float: left;
    }
  }
}
