#new_totp {
@media (max-width: 570px) {
  div.qr-code {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 571px) {
  div.qr-code {
    margin-left: 115px;
  }
}

  div.qr-code {
    min-height: 250px;
  }

  p.hint,
  p.copy {
    max-width: 500px;
  }

  p.copy a {
    font-weight: bold;
  }

}
