.quicksearch .autoComplete_wrapper {
  flex: 1 0;

  .quicksearch-input {
    height: 38px;
  }
}

.autoComplete_wrapper ul {
  list-style-type: none;
  position: absolute;
  z-index: 99;
  background-color: white;
  width: 250px;
  border: 1px solid $border-color;

  li {
    border-bottom: 1px solid $border-color;
    padding: 5px;

    mark {
      font-weight: 900;
      background-color: transparent;
      padding: 0;
    }

    &[aria-selected="true"] {
      background-color: $dropdown-link-active-bg;
      color: $dropdown-link-active-color;
    }
  }

  li[aria-selected="true"] {
    color: white;

    mark {
      color: white;
    }
  }

  li:hover {
    background-color: #925D97;
    color: white;

    mark {
      color: white;
    }
  }
}
