%section
  %h3
    %span=t('.title', model_name: Oauth::AccessGrant.model_name.human(count: 2), uri: uri)
    %span.pull-right
      = action_button(t('doorkeeper.applications.buttons.authorize'), oauth_authorization_path(entry.path_params(uri)), :plus, class: 'btn-small', target: :_blank)
      = action_button(t('global.button.copy'), '#', :copy, class: 'btn-small', data: { controller: 'clipboard', action: 'clipboard#copy', clipboard_text_param: oauth_authorization_url(entry.path_params(uri)) })

  = table(list, :person, :created_at, class: 'table table-striped table-hover') do |t|
    - action_col_destroy(t) { |e| oauth_access_grant_path(e) }
