-#  Copyright (c) 2020, CVP Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

$('#modal-placeholder').html("#{escape_javascript(render(partial: 'form'))}")
$('#modal-crud-form').modal('show')
