- if can?(:edit, entry)
  = Dropdown::GroupEdit.new(self, entry)
- if entry.possible_children.present? && can?(:new, entry.children.new)
  = Dropdown::GroupAdd.new(self, entry)
- if entry.deleted? && can?(:reactivate, entry)
  = action_button('Reaktivieren', reactivate_group_path(@group), :retweet, method: :post)
