= link_action_edit if can?(:edit, entry) 
= link_action_destroy if can?(:destroy, entry) 
= dropdown_button('Neue Gruppe erstellen', entry.possible_children_links, :plus) if can?(:new, entry.children.new)
