- @sheets = GroupSheet.new(self, @group)

=render 'groups/tabs'

#main.row-fluid
  %article.span7

    = render 'contactable/show', contactable: entry, only_public: cannot?(:show_details, @group)

    - if @contact
      %h4 Kontaktperson
      = render 'contactable/show', contactable: @contact, only_public: true, with_name: true
      

    = render_extensions :attrs

  %aside.span5
    %section.group_children
      %h2 Untergruppen
      = table(entry.children_order_by_type) do |t|
        - t.col('') do |c| 
          - html = muted(c.class.model_name.human)
          - html << ' '.html_safe
          - html << link_to(c.name, group_path(c.id))
          - html
