- list.layer.each do |key, values|
  = section_table(key, values) do |item|
    %td
      = link_to(item.name, group_path(item.id))

- if list.sub.present?
  =section_table(list.label_sub, list.sub) do |item|
    %td
      = link_to(item.name, group_path(item.id))
