.dropdown
  %a.dropdown-toggle.btn{'data-toggle' => 'dropdown', href: '#'} 
    Neue Gruppe erstellen
    %b{class: 'caret'}
  %ul.dropdown-menu{role: "menu"}
    - entry.possible_children.each do |child|
      %li
        %a{href: "#{child.target}"}= child.name
