.dropdown
  %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#', class: 'btn' } Neue Gruppe erstellen
  %ul.dropdown-menu{role: "menu"}
    - entry.possible_children.each do |child|
      %li
        %a{tabindex: "-1", href: "#{child.target}"}= child.name
