-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- bar.tab t('global.tabs.info'),
          group_path(group)

- if can?(:index_people, group)
  - bar.tab Person.model_name.human(count: 2),
            group_people_path(group, returning: true),
            [group_people_path(group),
             group_roles_path(group),
             new_group_csv_imports_path(group)]

- if can?(:index_events, group)
  - group.event_types.each do |type|
    - bar.tab(type.model_name.human(count: 2),
              typed_group_events_path(group, type, returning: true),
              [typed_group_events_path(group, type)])

- if can?(:index_mailing_lists, group)
  - bar.tab MailingList.model_name.human(count: 2),
            group_mailing_lists_path(group, returning: true),
            [group_mailing_lists_path(group)]

= render_extensions :tabs, locals: { group: group, bar: bar }

- if can?(:deleted_subgroups, group)
  - bar.tab t('.deleted'), deleted_subgroups_group_path(group)
