- bar.tab "Info",
          group_path(group)

- if can?(:index_people, group)
  - bar.tab "Personen",
            group_people_path(group, returning: true),
            [group_people_path(group),
             group_roles_path(group),
             new_group_csv_imports_path(group)]

- if can?(:index_events, group)
  - bar.tab "Anlässe",
            group_events_path(group, returning: true),
            [group_events_path(group)]

- if can?(:index_mailing_lists, group)
  - bar.tab "Abos",
            group_mailing_lists_path(group, returning: true),
            [group_mailing_lists_path(group)]

= render_extensions :tabs, locals: { group: group, bar: bar }

- if can?(:deleted_subgroups, group)
  - bar.tab "Gelöscht", deleted_subgroups_group_path(group)
