- title('Gelöschte Rollen')
= table(entry.roles.only_deleted) do |t|
- t.col('') do |c|
  - html = c.group.to_s.html_safe
  - html << ' '
  - html << muted(c.class.model_name.human)
  - html << ' '.html_safe
  - html << "von #{l(c.created_at, format: :short)} bis #{l(c.deleted_at, format: :short)}"
  - html
