-title 'Passwort vergessen?'

= standard_form(resource, {url: password_path(resource_name)}) do |f|
  = f.error_messages
  = f.labeled(:email) { f.input_field(:email) } 
  = f.indented submit_button(f,'Passwort zurücksetzen')
