%span.chip.person-tag{data: {tag_id: tag.id}}
  = tag.name_without_category
  - if can?(:manage_tags, person)
    = link_to icon(:times),
              group_person_tags_path(person_id: person.id, name: tag.name),
              method: :delete,
              data: { tag_id: tag.id },
              remote: true,
              class: 'person-tag-remove'
