#main.row-fluid
  %article.span5
    = render_attrs(entry, :name, :description, :publisher, :mail_name, :additional_sender)
    - if entry.subscribable
      Abonnenten d端rfen sich selbst an/abmelden
    - else
      Abonnenten d端rfen sich
      %strong 
        nicht 
      selbst an/abmelden
    %br
    - if entry.subscribers_may_post
      Abonnenten d端rfen auf die Mailingliste schreiben
    - else
      Abonnenten d端rfen 
      %strong 
        nicht 
      auf die Mailingliste schreiben

