-#  Copyright (c) 2023, Schweizer Alpen-Club. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito

%ul.nav.nav-tabs
  %li.nav-item= tab_header(t('mailing_lists.form_tabs.general'), :general, default_active: true)
  %li.nav-item= tab_header(t('mailing_lists.form_tabs.email'), :email)
  %li.nav-item= tab_header(t('mailing_lists.form_tabs.mailchimp'), :mailchimp)

  = render_extensions :form_tabs
