- title @group.to_s

= crud_table do |t|
  - t.col('Name') do |list|
    %strong
      = link_to(list.name, group_mailing_list_path(@group, list.id))
  - t.col('Beschreibung') do |list|
    = list.description.to_s.truncate(60)
  - t.attrs(:publisher, :mail_address)
