%li.py-4{id: "#{dom_id(credential)}"}
  .flex.items-center.space-x-4
    .flex-1.min-w-0
      %p.text-sm.font-medium.text-gray-900.truncate
        = credential.nickname
    %div
      = button_to webauthn_credential_path(credential), method: :delete, class: "inline-flex items-center px-2.5 py-0.5 text-sm leading-5 font-medium text-red-700 bg-white hover:text-red-500" do
        %i.fas.fa-trash
