- content_for(:title, 'WebAuthn')
#new_webauthn_credential.w-full
  = render partial: "form", locals: {credential: WebauthnCredential.new}
.flow-root.mt-6
  %ul#webauthn_credentials.divide-y.divide-gray-200
    = render partial: "credential", collection: credentials
%ul.block.mt-6
  %li= link_to "Back to dashboard", root_path, class: 'text-sm font-medium text-gray-600 hover:text-gray-500'
