- # TODO once we implement regular event applications, we have to dispatch somehow
- # between course applications and event participation creation.
- if entry.application_possible? && can?(:new, entry.build_application_for(current_user))
  = action_button 'Anmelden', new_event_application_path(entry) 
= button_action_edit if can?(:edit, entry)
= button_action_destroy if can?(:destroy, entry)
