- if entry.application_possible? && entry.can_create_participation?
  = action_button 'Anmelden', new_group_event_participation_path(@group, entry) 
  
= button_action_edit if can?(:update, entry)
= button_action_destroy if can?(:destroy, entry)
