-parent_sheet GroupSheet.new(self, @group)
-title @event.name

=render 'events/tabs'
=render 'events/event',  event: entry 
%p= entry.state
%p
  = entry.booking_info
  Teilnehmende

= render_attrs(entry, *entry.used_attributes(:cost, :application_opening_at, :application_closing_at, :contact_id))

= render_extensions :attrs
