= field_set_tag Event.human_attribute_name(:dates), class: 'event-dates' do
  %p= t('events.form.times_are_optional')
  = f.nested_fields_for :dates, 'event/dates/fields'

%input#start_at_invalid_message{ type: 'hidden', value: "%s %s" % [Event::Date.human_attribute_name(:start_at), t('errors.messages.invalid_date')] }
%input#finish_at_invalid_message{ type: 'hidden', value: "%s %s" % [Event::Date.human_attribute_name(:finish_at), t('errors.messages.invalid_date')] }
%input#before_message{type: 'hidden', value: "%s %s" % [Event::Date.human_attribute_name(:finish_at), t('errors.messages.on_or_after') % { restriction: Event::Date.human_attribute_name(:start_at) }] }
