-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- title @group.to_s

= render 'shared/page_per_year'

= crud_table do |t|
  - t.col(t.attr_header(:name)) do |e|
    %strong= link_to e.name, group_event_path(@group, e)
  - t.attr(:dates_full)
  - t.attr(:description_short, t.attr_header(:description))
  - t.attr(:booking_info)
  - t.sortable_attr(:state)
  - t.col(nil, class: 'center') { |e| button_action_event_apply(e, @group) }

