-#  Copyright (c) 2012-2017, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- title @group.to_s

- content_for :filter do
  - if parent.layer? && @group.has_sublayers?
    = FilterNavigation::Events.new(self, @group).to_s
  .pull-right
    = render 'shared/page_per_year'

= paginate @events
= render "list_table"
