- if can?(:show, @event)
  - tab "Info", group_event_path(@group, @event) 
- if can?(:index_participations, @event)
  - tab "Teilnehmende", group_event_participations_path(@group, @event) 
- if @event.supports_applications && can?(:application_market, @event)
  - tab "Anmeldungen", group_event_application_market_index_path(@group, @event) 
- if @event.qualifying? && can?(:qualify, @event)
  - tab "Qualifikationen", group_event_qualifications_path(@group, @event) 
