-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- if can?(:show, @event)
  - bar.tab t('global.tabs.info'), group_event_path(@group, @event)
- if can?(:index_participations, @event)
  - bar.tab t('.participants'), group_event_participations_path(@group, @event, returning: true), [group_event_participations_path(@group, @event), group_event_roles_path(@group, @event)]
- if @event.supports_applications && can?(:application_market, @event)
  - bar.tab Event::Application.model_name.human(count: 2), group_event_application_market_index_path(@group, @event)
- if @event.course_kind? && @event.qualifying? && can?(:qualify, @event)
  - bar.tab Qualification.model_name.human(count: 2), group_event_qualifications_path(@group, @event)
