-#  Copyright (c) 2022, Pfadibewegung Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- if @tags
  %dl.dl-horizontal
    = labeled ActsAsTaggableOn::Tag.model_name.human(count: 2) do
      - assignable = can?(:assign_tags, entry)
      - path = group_event_tags_path(@group, entry)

      = render 'taggable/list', tags: @tags, path: path, deletable: assignable

      - if assignable
        = render 'taggable/form', path: path
