= render 'form', url: move_group_role_list_path(group),
  method: :put,
  title: t('.title', role: @moving_role_type.constantize.label),
  people_ids: @people_ids,
  submit_label: t('.submit', count: @moving_roles_count)
