
%a#user-job-results-link-with-badge.position-relative{href: user_job_results_path}
  = icon('bars-progress')
  = t('user_job_results.index.title')
  - unfinished_job_count = person.user_job_results.unfinished.count
  - if unfinished_job_count > 0
    %span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger
      = unfinished_job_count
