-#  Copyright (c) 2025, Puzzle ITC. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- title @group.to_s

= crud_table do |t|
  - t.attrs(:name)
  - t.col(PassDefinition.human_attribute_name(:description)) do |pd|
    = pd.description.to_s.truncate(60)
