- if list.exists?
  .pagination-bar
    = paginate list

  %h3= Oauth::AccessToken.model_name.human(count: 2)

  = table(list, :person, :created_at, class: 'table table-striped table-hover') do |t|
    - action_col_destroy(t) { |e| oauth_access_token_path(e) }

  = paginate list

