-#  Copyright (c) 2023, Pfadibewegung Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- title t('.title')

%p= t('.explanation', warn_after: @warn_after, block_after: @block_after)
