-#  Copyright (c) 2023, Pfadibewegung Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- title t('.title')

= @blocked_person_situation_text
%br
- if @blocked_person_interval_text.present?
	= @blocked_person_interval_text
	%br
= @blocked_person_solution_text
