- #  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
- #  hitobito and licensed under the Affero General Public License version 3
- #  or later. See the COPYING file at the top-level directory or at
- #  https://github.com/hitobito/hitobito_youth.

= turbo_frame_tag :people_managers do
  %h2
    = t('people_managers.common_heading')
    %span.float-end
      .btn-group
        = Dropdown::AddPeopleManager.new(self, person).to_s
