#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
#  hitobito and licensed under the Affero General Public License version 3
#  or later. See the COPYING file at the top-level directory or at
#  https://github.com/hitobito/hitobito.

base: &generic
  adapter: <%= ENV['RAILS_DB_ADAPTER'] || 'sqlite3' %>
  pool: 20
  timeout: 5000
  encoding: utf8
<% %w(host port username password socket).each do |option| %>
  <% value = ENV["RAILS_DB_#{option.upcase}"] %>
  <%= "#{option}: #{value}" if value.present? %>
<% end %>


development:
  <<: *generic
  database: <%= ENV['RAILS_DB_NAME'] || "#{Rails.root}/db/development.sqlite3" %>

  # Connect on a TCP socket. Omitted by default since the client uses a
  # domain socket that doesn't need configuration. Windows does not have
  # domain sockets, so uncomment these lines.
  #host: localhost
  #port: 5432

  # Schema search path. The server defaults to $user,public
  #schema_search_path: myapp,sharedapp,public

  # Minimum log levels, in increasing order:
  #   debug5, debug4, debug3, debug2, debug1,
  #   log, notice, warning, error, fatal, and panic
  # The server defaults to notice.
  #min_messages: warning

# Warning: The database defined as "test" will be erased and
# re-generated from your development database when you run "rake".
# Do not set this db to the same as development or production.
test:
  <<: *generic
  database: <%= ENV['RAILS_DB_NAME'] || ENV['RAILS_TEST_DB_NAME'] || "#{Rails.root}/db/test.sqlite3" %>

production:
  <<: *generic
  database: <%= ENV['RAILS_DB_NAME'] || "#{Rails.root}/db/production.sqlite3" %>
