#  Copyright (c) 2012-2024, Jungwacht Blauring Schweiz. This file is part of
#  hitobito and licensed under the Affero General Public License version 3
#  or later. See the COPYING file at the top-level directory or at
#  https://github.com/hitobito/hitobito.

# All settings may be overriden in wagons!
# See https://github.com/rubyconfig/config

application:
  name: Vibha Volunteer System  # set same name in email.sender and email.mass_recipient

  logo:
    image: logo.png # put under app/assets/images
    height: 30 # pixel, has to bet set as the logo is a background image,
    width: 230 # pixel, will also set the minimal width of the navigation
    background_color: none # optional backgroundcolor, creates a box around the logo, if changed from 'none'
  image_upload:
    max_dimension: 8000 # pixel
    content_types:
      - image/jpeg
      - image/gif
      - image/png
  footer:
    #logo_image: logo_hitobito.png
    logo_url: http://vibha.org
    vibha_url: http://vibha.org
    links: {Vibha}

  # The languages available in the menu
  languages:
    # first entry is considered the default language
    en: English
    de: Deutsch

<% mail_domain = ENV['RAILS_MAIL_DOMAIN'].presence ||
                 ENV['RAILS_HOST_NAME'].presence ||
                 'localhost'
   hostname    = ENV['RAILS_HOST_NAME'].presence || 'localhost:3000'
   protocol    = %w(true yes 1).include?(ENV['RAILS_HOST_SSL']) ? 'https' : 'http'
%>
currency:
  unit: USD

email:
  # Sender for all emails sent by the application.
  # Overwrite in different languages using the settings.email.sender translation key.
  sender: <%= "hitobito <noreply@#{mail_domain}>" %>

  # If mass emails are sent, this recipient is used in the to field,
  # while the actual recipients go in the bcc field.
  mass_recipient: <%= "hitobito <noreply@#{mail_domain}>" %>

  # domain where mailing lists are located
  list_domain: <%= mail_domain %>

  # configuration for retrieving email
  retriever:
    # interval to check for new mails in minutes
    interval: 1
    type: <%= ENV['RAILS_MAIL_RETRIEVER_TYPE'].presence || 'pop3' %>
    config:
      <% if ENV['RAILS_MAIL_RETRIEVER_CONFIG'].present? %>
        <%= "{ #{ENV['RAILS_MAIL_RETRIEVER_CONFIG']} }" %>
      <% end %>
  bulk_mail:
    bulk_size: <%= ENV['RAILS_BULK_MAIL_SIZE'].presence || 15 %>
    batch_timeout: <%= ENV['RAILS_BULK_MAIL_BATCH_TIMEOUT'].presence || 5 %>

# The person with this email has root access to everything
# This person should only be used by the operators of the application, not the customers.
# Initially, a password reset token may be mailed from the application to this address to set a password.
root_email: <%= ENV['RAILS_ROOT_USER_EMAIL'].presence || 'pushkar@vibha.org' %>

phone_number:
  predefined_labels:
    - Privat
    - Mobil
    - Arbeit
    - Vater
    - Mutter
    - Fax
    - Andere
  default_country: CH

social_account:
  predefined_labels:
    - Facebook
    - MSN
    - Skype
    - Twitter
    - Webseite
    - Andere

additional_email:
  predefined_labels:
    - Privat
    - Arbeit
    - Vater
    - Mutter
    - Andere

# Presets for PDF labels
pdf:
  font_size: 9
  labels:
    # Minimum border on the right and bottom of each label
    min_border: 4 #mm
    font_name: Helvetica

# Preset for addresses
address:
  switzerland_variations:
    - ch
    - schweiz
    - suisse
    - switzerland
    - svizzera

countries:
  prioritized:
    - CH
    - LI
    - AT
    - DE
    - FR
    - IT

# Presets for CSV export
csv:
  separator: ;
  encoding: UTF-8
  utf8_bom: true # allowing M$ Excel to read UTF-8

# Presets for XLSX export
xlsx:
  font_name: Calibri
  label_background: C0C0C0


role:
  # If a role last less than this number of days, it is not archived
  minimum_days_to_archive: 7

# Default sort for people lists (group members, event participations)
people:
  # either name or role
  default_sort: name
  abos: true
  totp_drift: 15
  manual_deletion:
    enabled: false
  cleanup_job:
    enabled: false
  cleanup_cutoff_duration:
    regarding_current_sign_in_at: 1000 # months
    regarding_roles: 1000 # months
    regarding_event_participations: 120 # months
  inactivity_block:
    # durations must be specified in ISO_8601 format.
    # see https://en.wikipedia.org/wiki/ISO_8601#Durations
    warn_after: # e.g. P18M
    block_after: # e.g. P1M
  family_members:
    enabled: true

event:
  attachments:
    content_types:
      - image/jpeg
      - image/gif
      - image/png
      - application/pdf
      - text/plain
      - application/rtf
      - application/msword
      - application/vnd.openxmlformats-officedocument.wordprocessingml.document
      - application/vnd.ms-excel
      - application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
      - application/vnd.ms-powerpoint
      - application/vnd.openxmlformats-officedocument.presentationml.presentation
      - application/vnd.oasis.opendocument.text
      - application/vnd.oasis.opendocument.spreadsheet
      - application/vnd.oasis.opendocument.presentation
      - application/zip
    max_file_size: 10 # MB
  globally_visible_by_default: true # previous behaviour
  participations:
    delete_additional_information_after_months: 1200

downloads:
  folder: <%= Rails.root.join('tmp', 'downloads') %>

impersonate:
  notify: true

help_text_blacklist:
  event/kind:
    - precondition_qualification_kinds
  event/participation:
    - answers_attributes
  event:
    - hidden_contact_attrs
    - required_contact_attrs
  group:
    - phone_numbers_attributes
    - remove_logo
  invoice_config:
    - payment_reminder_configs_attributes
  invoice:
    - invoice_items_attributes
    - recipient_id
  mailing_list:
    - anyone_may_post
    - delivery_report
  doorkeeper/application:
    - confidential
    - redirect_uri
    - scopes
  person:
    - relations_to_tails_attributes
    - phone_numbers_attributes
    - family_members_attributes

delayed_jobs:
  concurrency:
    reschedule_in: <%= 15.seconds %>
    limit: 1
    jobs:
      - Export::PeopleExportJob
      - Export::SubscriptionsJob

worker_heartbeats:
  check_job:
    # Interval in seconds between detection and unlocking of hanging jobs
    interval: 60

oidc:
  issuer: <%= protocol + "://" + hostname %>
  signing_key: <%= ENV['JWT_SIGNING_KEY'].to_s.lines %>
  use_refresh_token: false
  use_jwt_access_token: false
  access_token_expires_in: <%= 2.hours %>
  refresh_token_expires_in: <%= 180.days %>

table_displays: true

mailchimp:
  max_attempts: 25
  batch_size: 250
  enabled: true

addresses:
  url: https://webservices.post.ch:17017/IN_ZOPAxFILES/v1/groups/1062/versions/latest/file/gateway
  token: <%= ENV['ADDRESSES_TOKEN'] %>
  imported_countries:
    - CH

messages:
  enable_writing: false
  pdf:
    preview: <%= Rails.root.join("app/javascript/images/preview.png") %>
  body_font_size: 9

groups:
  self_registration:
    enabled: true
  statistics:
    enabled: true
  nextcloud:
    enabled: false

hitobito_log:
  recipient_emails: