-# Copyright (c) 2012-2024, Schweizerischer Kanu-Verband. This file is part of
-# hitobito_skv and licensed under the Affero General Public License version 3
-# or later. See the COPYING file at the top-level directory or at
-# https://github.com/hitobito/hitobito_skv.

%header
    %div{:id => 'logo'}
        - logo = Settings.application.membership_verify_logo
        - if logo
            = wagon_image_pack_tag(logo.image, alt: Settings.application.name)
        - else
            = image_pack_tag(Settings.application.logo.image, alt: Settings.application.name)
    #root-address
        %strong
            = root.name
            = root.complete_address