-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- title @group.to_s

= crud_table do |t|
  - t.col(Calendar.human_attribute_name(:name)) do |calendar|
    %strong
      = link_to(calendar.name, group_calendar_path(@group, calendar.id))
  - t.col(Calendar.human_attribute_name(:description)) do |calendar|
    = calendar.description.to_s.truncate(60)
