%h1 Jungschar Bern

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Email
  %tbody
    %tr
      %td Peter Meier
      %td peter@meier.ch
    %tr
      %td Franz Mueller
      %td franz@gmx.ch