- title 'Roland Studer'

-content_for :toolbar do
  .btn-group
    %a.btn.btn-primary{:href => "#"}
      Speichern
  .btn-group
    %a.btn{:href => "#"}
      abbrechen

#main

  %form.form-horizontal
    %section#contact

      %h2 Kontaktdaten
      %fieldset
        .control-group
          %label.control-label{:for => "name"} Vorname/Nachname
          .controls.controls-row
            %input#name.span3{:placeholder => "Vorname", :type => "text"}
            %input.span3{:placeholder => "Nachname", :type => "text"}
            
        .control-group
          %label.control-label{:for => "nick"} Nickname
          .controls
            %input#nick.span6{:placeholder => "Nickname", :type => "text"}
    
      %fieldset
        .control-group
          %label.control-label{:for => "address"} Adresse
          .controls
            %textarea#address.span6{:placeholder => "Adresse", :rows => "3"}
              
        .control-group
          %label.control-label{:for => "plz"} PLZ/Ort
          .controls.controls-row
            %input#plz.span2{:placeholder => "PLZ", :type => "text"}
            %input.span4{:placeholder => "Ort", :type => "text"}
    
        .control-group
          %label.control-label{:for => "country"} Land
          .controls
            %select#country.span6
              %option Lorem
              %option Ipsum
              %option Dolor
              %option Sit
              %option Amet
      %fieldset
        .control-group
          %label.control-label{:for => "person_phone_numbers"} Telefonnummern
          #phone_numbers_fields
            .fields
              .controls.controls-row
                %a.remove_nested_fields.span1{"data-association" => "phone_numbers", :href => "javascript:void(0)", :title => "Entfernen"} 
                  %i.icon-minus-sign
                %input#person_phone_numbers_attributes_0_number.span3{:maxlength => "255", :name => "person[phone_numbers_attributes][0][number]", :size => "255", :type => "text", :value => "+4178 938 84 61"}
                %select#person_phone_numbers_attributes_0_label.span2{:name => "person[phone_numbers_attributes][0][label]"}
                  %option{:selected => "selected", :value => "Privat"} Privat
                  %option{:value => "Mobil"} Mobil
                  %option{:value => "Arbeit"} Arbeit
                  %option{:value => "Vater"} Vater
                  %option{:value => "Mutter"} Mutter
                  %option{:value => "Fax"} Fax
                  %option{:value => "Andere"} Andere
                %label.checkbox.span2{:for => "person_phone_numbers_attributes_0_public"}
                  %input{:name => "person[phone_numbers_attributes][0][public]", :type => "hidden", :value => "0"}
                    %input#person_phone_numbers_attributes_0_public{:checked => "checked", :name => "person[phone_numbers_attributes][0][public]", :type => "checkbox", :value => "1"}
                      Öffentlich
              %input#person_phone_numbers_attributes_0_id{:name => "person[phone_numbers_attributes][0][id]", :type => "hidden", :value => "24"}/
          .controls
            %span.help-inline
              %a.add_nested_fields{"data-association" => "phone_numbers", "data-blueprint-id" => "phone_numbers_fields_blueprint", :href => "javascript:void(0)"} 
                %i.icon-plus-sign
                Eintrag hinzufügen
          

