-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- title "Entschuldigung, die Seite ist momentan nicht verfügbar (503)"

%p
  Wir arbeiten gerade an dieser Seite, deshalb ist sie nicht verf&uuml;bar.
  Das sollte nicht all zu lange dauern.
%p
  Bitte versuchen Sie es sp&auml;ter nochmals.