-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

%h2= title

= table(subs, class: 'table table-striped') do |t|
  - t.col('', width: '98%') { |e| e.to_s(:list) }
  - t.col('') do |e|
    - if can?(:destroy, e)
      = link_action_destroy(group_mailing_list_subscription_path(@group.id, e.mailing_list.id, e.id))
