= table(@invoices, class: 'table table-striped table-hover') do |t|
  - t.col(Invoice.human_attribute_name(:title)) do |i|
    - content_tag(:strong) do
      %i.fa{class: "fa-#{i.as_quicksearch[:icon]}", style: "width: 20px"}
      = link_to(i.title, group_invoice_path(group_id: i.group, id: i))
  - t.col(Invoice.human_attribute_name(:reference)) { |i| format_attr(i, :reference) }
  - t.col(Invoice.human_attribute_name(:sequence_number)) { |i| format_attr(i, :sequence_number) }
  - t.col(Invoice.human_attribute_name(:state)) { |i| format_attr(i, :state) }
  - t.col(Group.model_name.human) { |i| format_attr(i, :group) }
