- title 'Personen'

-# content_for(:toolbar, render('actions_index'))

= paginate(entries)

#main
  = crud_table do |t|
    - t.col('Name')    do |p| 
      %strong
        -# Any person listed can be shown
        = link_to(p.to_s, group_person_path(p.roles.first.group_id, p))
    - t.col('Rolle')   {|p| p.roles_short(nil) }
    - t.col('Email')   {|p| p.primary_email }
    - t.col('Telefon') {|p| p.all_phone_numbers(true) }
    - t.col('Adresse') {|p| p.complete_address }

- if params[:q].size < 3
  %p Bitte geben Sie mindestens drei Zeichen ein.

= paginate(entries)