- if FeatureGate.enabled?('groups.self_registration') && main_self_registration_group
  .alert.alert-info
    = link_to t('layouts.unauthorized.main_self_registration'), group_self_registration_path(group_id: main_self_registration_group.id)
