-#  Copyright (c) 2026, Hitobito AG. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- if oauth_app.present?
    .oauth-application-logo
        = image_tag(upload_url(oauth_app, :logo, variant: :thumb, default: 'oauth_app'), size: '64x64')