-#  Copyright (c) 2021, Pfadibewegung Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- uid = session['person_return_to']&.gsub(/.*client_id=([^&]*).*/, '\1')
- if uid.present?
  - oauth_app = Doorkeeper::Application.find_by(uid: uid)

- title t('.sign_in', name: Settings.application.name)

.fields-separation
  - if oauth_app.present?
    .oauth-application-log
      = image_tag(oauth_app.logo_url, size: '64x64')

  %p
    = t('.info', oauth_app: oauth_app&.name)
  %hr
