-#  Copyright (c) 2026, Puzzle ITC. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito

- template_name = @template.pass_view_partial

.pass-card-wrapper
  .pass-card-sides
    = render pass_template_partial(template_name, 'card_front'), pass: @pass, person: @person
    = render pass_template_partial(template_name, 'card_back'), pass: @pass
