$('#modal-placeholder').html("#{escape_javascript(render(partial: 'event/participation_lists/new'))}")
$('[data-provide=entity]').each(window.App.setupEntityTypeahead)
$('#participation-lists-new').modal('show')
