-#  Copyright (c) 2012-2018, Schweizer Blasmusikverband. This file is part of
-#  hitobito_sbv and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sbv.

- filter = entry.filter_chain[:attributes]

.people_filter_attribute_form_template.hidden
  = people_filter_attribute_form_template
.control_group{data: { types: people_filter_types_for_data_attribute } }
  #people_filter_attribute_forms
    = people_filter_attribute_forms(filter)

  = select(:attribute, :filter, people_filter_attributes_for_select, include_blank: true)


