-#  Copyright (c) 2012-2018, Schweizer Blasmusikverband. This file is part of
-#  hitobito_sbv and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sbv.

- filter = entry.filter_chain[:attributes]
- types  = people_filter_attribute_types

.people_filter_attribute_form_template.hidden
  = people_filter_attribute_form_template
.control_group{data: { types: types.to_json } }
  #people_filter_attribute_forms
    = people_filter_attribute_forms(filter, types)

  = select(:attribute, :filter, Person.filter_attrs_list, include_blank: true)


