- # Copyright (c) 2012-2025, Swiss Badminton. This file is part of
- # hitobito_swb and licensed under the Affero General Public License version 3
- # or later. See the COPYING file at the top-level directory or at
- # https://github.com/hitobito/hitobito.

- if local_assigns[:force] || entry.filter_chain[criterion]
  %div{id: criterion_id}
    = render(layout: 'layouts/filter', locals: { type: criterion, delete: true }) do
      = render criterion.to_s
