- id = type.to_s.pluralize
- caption = t("people_filters.#{type}.title")
- open_class = "show" if entry.filter_chain[type.to_sym].present?

.accordion-item
  .accordion-header
    %a.accordion-button.p-2.bg-white.text-black{ href: "##{id}", data: { bs_toggle: :collapse } }
      = caption

  .accordion-collapse.collapse{ id: id, class: open_class }
    .accordion-body
      = yield
