.accordion-group
  .accordion-heading
    %a.accordion-toggle.collapsed.header{ href: "##{id}", data: { toggle: :collapse } }
      = caption

  .accordion-body.collapse{ id: id }
    .accordion-inner
      = yield
