-#  Copyright (c) 2012-2017, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- filter_roles = entry.filter_chain[:role]
- present_selected_roles = filter_roles.present? ? filter_roles.to_hash[:role_type_ids] : []
- present_options_roles = options_from_collection_for_select(@roles, :second, :first, present_selected_roles)

.label-columns
  .d-flex.flex-row.mb-2{"data-controller": "form-select"}
  .d-flex.flex-row.align-items-center
    .w-5.mr-5
      %label Roles
    .w-95.mr-5
      = select_tag('filters[role][role_type_ids][]',
                        present_options_roles,
                        class: 'form-control tom-select w-100',
                        multiple: true,
                        data: {  } )

  -# = field_set_tag(t('.prompt_role_duration_selection')) do
  -#   .row.control-group.mt-3
  -#     = render 'simple_radio',
  -#              attr: "filters[role][kind]",
  -#              value: 'active_today',
  -#              checked: !filter || !Person::Filter::Role::KINDS.include?(filter.args[:kind])
  -#   .row.control-group.mt-2
  -#     .d-flex.col-xl-6
  -#       %label.mt-1.nowrap.w-50=t('.prompt_role_duration_from')
  -#       .input-group.w-50
  -#         %span.input-group-text= icon(:'calendar-alt')
  -#         = text_field_tag("filters[role][start_at]", filter && filter.args[:start_at], class: 'date col-2 form-control form-control-sm')
  -#       %label.mx-2.mt-1.w-50=t('.prompt_role_duration_until')
  -#       .input-group.w-50
  -#         %span.input-group-text= icon(:'calendar-alt')
  -#         = text_field_tag("filters[role][finish_at]", filter && filter.args[:finish_at], class: 'date col-2 form-control form-control-sm')
  -#   .row.control-group.mt-2
  -#     - Person::Filter::Role::KINDS.each do |key|
  -#       = render 'simple_radio',
  -#           attr: "filters[role][kind]",
  -#           value: key,
  -#           checked: filter && filter.args[:kind] == key
  -#   .row.control-group.mt-3
  -#     = label_tag(nil, 'filters_role_include_archived', class: 'checkbox inline mt-2') do
  -#       = check_box_tag('filters[role][include_archived]', true, filter && true?(filter.args[:include_archived]))
  -#       = t('.include_archived')
