.btn-toolbar
  .btn-group
    = f.button(t('global.button.search'), class: 'btn btn-primary', value: 'search')
  - if can?(:create, entry)
    .btn-group
      = f.button(t('people_filters.form.save_search'), class: 'btn btn-primary', value: 'save')
  = link_to(t('global.button.cancel'), people_list_path, class: 'link')