.btn-toolbar
  .btn-group
    = f.button(t('people_filters.form.show_results'), class: 'btn btn-sm btn-primary', value: 'search')
  = link_to(t('global.button.cancel'), people_list_path, class: 'ms-3 mt-1')
