-#  Copyright (c) 2012-2025, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- tags_options = people_filter_tags_options(entry.filter_chain)

.label-columns.mr-5
  .d-flex.flex-column.flex-lg-row.align-items-start.align-items-lg-center.mb-2
    .col-2
      %label= t('.prompt_tag_selection')
    .col-10.shown
      = select_tag('filters[tag][names][]',
                    tags_options[:present],
                    class: 'form-select form-select-sm tom-select w-100',
                    "data-controller": "tom-select",
                    id: 'present-tag-select',
                    multiple: true,
                    data: { chosen_no_results: t('global.chosen_no_results'), placeholder: t('.prompt_tag_placeholder') } )
  .d-flex.flex-column.flex-lg-row.align-items-start.align-items-lg-center
    .col-2
      %label= t('.prompt_tag_absence_selection')
    .col-10.shown
      = select_tag('filters[tag_absence][names][]',
                    tags_options[:absent],
                    class: 'form-select form-select-sm tom-select w-100',
                    id: 'absent-tag-select',
                    "data-controller": "tom-select",
                    multiple: true,
                    data: { chosen_no_results: t('global.chosen_no_results'), placeholder: t('.prompt_tag_placeholder') } )
