-#  Copyright (c) 2012-2019, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- present_filter_tags = entry.filter_chain[:tag]
- present_selected = present_filter_tags ? filter.to_hash[:names] : []
- present_options = options_from_collection_for_select(@possible_tags, :second, :first, present_selected)

- absent_filter = entry.filter_chain[:tag_absence]
- absent_selected = absent_filter ? filter.to_hash[:names] : []
- absent_options = options_from_collection_for_select(@possible_tags, :second, :first, absent_selected)

.d-flex.flex-column
  .d-flex.flex-row.align-items-center.mb-2
    .w-10.mr-5
      %label= t('.prompt_tag_selection')
    .w-90.shown
      = select_tag('filters[tag][names][]',
                    present_options,
                    class: 'form-control tom-select w-100',
                    multiple: true,
                    data: { chosen_no_results: t('global.chosen_no_results'), placeholder: t('.prompt_tag_placeholder') } )
  .d-flex.flex-row.align-items-center
    .w-10.mr-5
      %label= t('.prompt_tag_absence_selection')
    .w-90.shown
      = select_tag('filters[tag_absence][names][]',
                    absent_options,
                    class: 'form-control tom-select w-100',
                    multiple: true,
                    data: { chosen_no_results: t('global.chosen_no_results'), placeholder: t('.prompt_tag_placeholder') } )
