- # Copyright (c) 2012-2025, Swiss Badminton. This file is part of
- # hitobito_swb and licensed under the Affero General Public License version 3
- # or later. See the COPYING file at the top-level directory or at
- # https://github.com/hitobito/hitobito.

= turbo_stream.remove criterion_id
= turbo_stream.update Dropdown::PeopleFilter::ID do
  = Dropdown::PeopleFilter.new(self, current_user, PeopleFiltersController::CRITERIAS - criterias + [criterion]).to_s
