- id ||= nil
:plain
  var el = #{id ? "'##{id}'".html_safe : "$('body').data('popover')"};
  $($('body').data('popover')).popover('destroy');
  $(el).popover({content: '#{j(render('modal', group: entry.group))}',
                 title: "#{t(title_key, person: entry.person)}",
                 container: 'body',
                 placement: 'bottom',
                 html: true }).popover('show');

  $('body').data('popover', el);
  $('body .chosen-select').each(App.activateChosen);
