.shown
  = collection_select(:role,
                      :type,
                      GroupDecorator.decorate(@group).possible_roles,
                      :sti_name,
                      :label,
                      roles_type_select_options(@group, entry),
                      { include_blank: true,
                        class: 'chosen-select',
                        data: { remote: true,
                          url: details_group_roles_path(@group),
                          placeholder: ta(:please_select),
                          chosen_no_results: t('global.chosen_no_results') } })
