- if entry.persisted?
  $(".popover_toggler").popover("hide");
  $(".popover_toggler").replaceWith('#{j(PersonDecorator.new(entry.person).roles_short(@group, true))}')
- else
  - @person_id = entry.person_id
  = render('popover', title_key: 'roles.form.new_role_for_person' )
