- group ||= defined?(@group) ? @group : nil
$('##{dom_id(@old_role || @role)}').parent().hide()
$('##{dom_id(@old_role || @role)}').popover('destroy').replaceWith('#{j(PersonDecorator.new(entry.person).roles_short(group))}')
$('##{dom_id(entry)}').parent().toggle('highlight', {duration: 1000})
