.documentation-markdown {
  h1, h2, h3, h4 {
    font-weight: bold;
  }

  .github-emoji {
    width: 1em;
    height: 1em;
  }

  blockquote {
    color: $gray-darker;
  }

  blockquote p {
    font-size: 14px;
  }

  pre {
    background-color: $gray;
    border-radius: 6px;
    padding: 10px;
  }

  code {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: $gray;
    border-radius: 6px;
  }

  a {
    color: blue;
  }
}
