.nav-left {
	box-sizing: border-box;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	border-radius: 6px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	background-color: $white;

	$navLeftPadding: 1rem;
	$navLeftIconWidth: 2rem;
	$navLeftPaddingFull: $navLeftPadding + $navLeftIconWidth;

	// list resets

	ul {
		margin: 0
	}

	a {
		display: block;
		padding-left: $navLeftPaddingFull;
		line-height: 95%;
		padding-top: 0.2rem;
		padding-bottom: 0.2rem;
		border-left: 3px solid transparent;
	}

	a.inline {
		display: inline;
		padding: 0px;
	}

	a.is-active, li.is-active > a {
		background-color: desaturate(lighten($linkColor, 50%), 20%);
		border-left: 3px solid $linkColor;
	}



	.nav-left-section {
		background-color: $grayLighter;
		border-top: 1px solid $grayLight;
		& > a {
			font-size: 1.2rem;
			padding: 0.9rem;
			padding-left: $navLeftPadding;
			i {
				width: $navLeftIconWidth
			}
		}
		&.active {
			background-color: white;
			padding-bottom: 1rem;
		}

		a.nav-left-close {
			font-size: 1rem;
			cursor: pointer; // to react to touch events
			i {
				width: auto;
			}
		}
	}

	.nav-left-section .nav-left-title {
		font-size: 1rem;
		padding-top: 0.4rem;
		padding-bottom: 0.4rem;
		padding-left: $navLeftPaddingFull;
		font-weight: bold;
	}

	.nav-left-section .nav-left-back {
		font-size: 0.8rem;
	}

	.divider {
		display: block;
		color: $grayDarker;
		text-transform: uppercase;
		font-size: 0.7rem;
		padding-left: $navLeftPaddingFull;
		margin-top: 1rem;
		border-left: 3px solid transparent;
	}

	.nav-left-section-link ~ .divider,
	.nav-left-list > li.divider:first-child {
		margin-top: 0;
	}

	.options {
		padding: 1rem 0;
		.lang {
			white-space: nowrap;
		}
		.lang a {
			display: inline;
			padding: 0rem;
		}
		.lang {
			padding-left: $navLeftPaddingFull;
		}
	  .lang .active {
	  	color: $black;
	    text-decoration: none;
	  }
	}

	// typgraphical hierarchy

	$hierarchyShiftWidth: 0.7rem;

	ul ul ul a { 										padding-left: 1 * $hierarchyShiftWidth + $navLeftPaddingFull;}
	ul ul ul ul a { 								padding-left: 2 * $hierarchyShiftWidth + $navLeftPaddingFull; }
	ul ul ul ul ul a { 							padding-left: 3 * $hierarchyShiftWidth + $navLeftPaddingFull; }
	ul ul ul ul ul ul ul a { 				padding-left: 4 * $hierarchyShiftWidth + $navLeftPaddingFull; }
	ul ul ul ul ul ul ul ul a { 		padding-left: 5 * $hierarchyShiftWidth + $navLeftPaddingFull; }
	ul ul ul ul ul ul ul ul ul a { 	padding-left: 6 * $hierarchyShiftWidth + $navLeftPaddingFull; }
}
