.taggable-category {
  display: table-row;
  margin-top: 12px;
}
.taggable-category-title,
.taggable-category-list {
  display: table-cell;
  padding-bottom: 6px;
  vertical-align: top;
}

.taggable-category-title {
  padding-bottom: 10px;
  padding-right: 10px;
  text-align: right;
  padding-top: 2px;
}

.taggable-add-form {
  margin-bottom: 4px;

  .input-group {
    position: static;
  }

  input[type="text"] {
    margin-bottom: 0 !important;
  }
}
