.quicksearch .autoComplete_wrapper {
  flex: 1 0;

  .quicksearch-input {
    height: 38px;
  }
}

.autoComplete_wrapper ul {
  list-style-type: none;
  position: absolute;
  z-index: 99;
  background-color: white;
  width: 250px;
  border: 1px solid $borderColor;

  li {
    border-bottom: 1px solid $borderColor;
    padding: 5px;

    mark {
      font-weight: 900;
      background-color: transparent;
    }
  }

  li:hover {
    background-color: #925D97;
    color: white;

    mark {
      color: white;
    }
  }
}
