
%p Bitte gib deine E-Mailadresse ein, damit du dich für den Anlass anmelden kannst.

= standard_form(Person.new, {url: register_group_event_path(group, event)}) do |f|
  = f.error_messages
  = f.labeled_input_field(:email)
  = f.indented(submit_button(f, 'Weiter'))