#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
#  hitobito and licensed under the Affero General Public License version 3
#  or later. See the COPYING file at the top-level directory or at
#  https://github.com/hitobito/hitobito.

application:
  languages:
    de: Deutsch
    en: English
    fr: Français

  additional_languages:
    en: Englisch
    fr: Französisch
    it: Italienisch

csv:
  encoding: UTF-8

event:
  attachments:
    max_file_size: 2 # mb

email:
  sender: "hitobito <noreply@localhost>"
  mass_recipient: "hitobito <noreply@localhost>"
  list_domain: localhost

groups:
  nextcloud:
    enabled: true

additional_address:
  enabled: false
  predefined_labels:
    - Rechnung
    - Arbeit
    - Andere

invoice_lists:
  fixed_fees:
    membership:
      enabled: true
      receivers:
        layer: Group::BottomLayer
        roles:
          - Group::BottomLayer::Leader
          - Group::BottomGroup::Leader
      items:
        - key: :members
          unit_cost: 10
          roles:
            - Group::BottomGroup::Member
            - Group::BottomLayer::Member
        - key: :leaders
          unit_cost: 15
          roles:
            - Group::BottomGroup::Leader
            - Group::BottomLayer::Leader
