*,
*:before,
*:after {
  box-sizing: border-box;
}

.multiline {
  white-space: pre-wrap;
}

a {
  text-decoration: none;
}

ol, ul {
  padding: 0;
}

body {
  font-size: 14px;
}

legend {
  border-bottom: 1px solid #e5e5e5;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
}