// Table
table.table {
  border-bottom: 1px solid $border-color;
}

div.table {
  margin-top: 30px;
}

.table,
.table-basic {
  td,
  th {
    padding: 4px;
    padding-left: 0;
    border-color: $border-color; // new
    &:last-child {
      padding-right: 0;
    }
  }
}

.table-striped {
  td:first-child,
  th:first-child {
    padding-left: 8px;
  }
  td:last-child,
  th:last-child {
    padding-right: 8px;
  }
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: $table-color-hover;
}

.table-grouped {
  thead:first-child th {
    padding-top: 0px;
  }

  th {
    padding-top: 30px;

    h2 {
      margin-left: -8px;
      color: $black;
    }
  }
}

td.center,
th.center {
  text-align: center;
}

td.right,
th.right {
  text-align: right;
  padding-right: 20px;
  &:last-child {
    padding-right: 8px;
  }
}

.table-responsive {
  .table {
    background-color: #fff;
  }

  width: 100%;
  overflow-x: auto;
  overflow-y: inherit;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;

  .table {
    margin-bottom: 0;
  }
}

.table-fixed {
  table-layout: fixed;
}

@media (max-width: 768px) {
  .table-fixed {
    table-layout: auto;
  }
}

td.action {
  text-align: center;
  width: 25px;
}

.table td .btn-group {
  margin-bottom: 0;
}

table.roles {
  width: 100%;
  td {
    border: none;
    padding: 0px;
  }
  td:first-child {
    padding-left: 10px;
    width: 100%;
  }
  td {
    min-width: 20px;
  }
}

table.actions-enabled {
  .multiselect {
    white-space: nowrap;

    .count,
    span,
    .actions {
      display: inline;
    }

    .actions {
      margin-left: 10px;
      font-weight: normal;
    }
  }

  th:first-child input[type="checkbox"] {
    margin-bottom: 12px;
  }
}

table tr :first-child input[type="checkbox"] {
  width: 20px;
  margin-right: 5px;
}

table tr.divider,
table tr.divider td:hover {
  background-color: #f9f9f9;
}

table td.vertical-middle {
  vertical-align: middle;
}
