-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

= crud_table do |t|
  - t.sortable_attrs :label, :short_name
  - if kind_categories_used?
    - t.sortable_attrs :kind_category
  - render_extensions 'list_attrs', locals: { t: t }
  - t.sortable_attrs :updated_at, :deleted_at
  - add_table_actions(t)
