/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require 'bootstrap_config'
 *= require_self
 *
 */

/* Imports Compass */
@import "variables";
@import "media-queries";
@import "compass/typography/lists/horizontal-list";
@import "compass/css3/text-shadow";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/transition";

/* Typo */
// -------------------------

h1 { 
  font-size: 2.333em !important;
  border-bottom: 1px solid $grayLighter;
  padding-bottom: 10px;
  margin-bottom: $vSpace;
}
h2 { 
  font-size: 1.667em !important;
}

.content-header {
  margin-bottom: $vSpace;
  h1 { margin-bottom: 0px; }
}

.muted { color: $gray; }


td p {
  margin: 0;
}

.alert ul {
  margin: 0 0 0 25px;
}

/* Nav */
// -------------------------
.nav-sub {
  @include clearfix;
  margin-bottom: 0px;
  border-bottom: 1px solid $grayLighter;
  & > li {
    float: left;
     a {
      @include single-transition(border-color, 300ms);
      padding: 10px 0;
      margin-right: 30px;
      line-height: 14px;
      border-bottom: 2px solid $white;
      &:hover { background: none; border-color: $grayLight; }
    }
  }
  & > .active > a, & > .active > a:hover {
    border-color: $blue;
  }
}

.level { 
  display: block;
  padding: 5px 10px;
  font-size: 1.385em;
  line-height: 1.538em;
}

.sheet .breadcrumb {
  padding: 6px 10px 0;
  margin: 0;
  list-style: none;
  background: none;
  border: none;
  a { color: $gray; }
  ul { margin: 0;}
  & + .level { padding-top:0; }
}

#content .breadcrumb {
  padding: 6px 0 0;
}


/* Forms & Buttons */
// -------------------------
.btn-toolbar {
  margin-bottom: $vSpace;
}
.btn { 
  color: $green;
  &:hover {
    color: darken($green, 10%); 
    .icon { background-image: url("glyphicons-halflings-green.png"); }
  } 
  .icon { background-image: url("glyphicons-halflings-green-hover.png"); }
  .caret {
    border-top-color: $green;
  }
  &.btn-primary, &.btn-primary:hover, &.btn-warning, &.btn-warning:hover, &.btn-danger, &.btn-danger:hover, &.btn-success, &.btn-success:hover, &.btn-info, &.btn-info:hover, &.btn-inverse, &.btn-inverse:hover {
    color: $white;
  }
}

// from bootstrap 2.1.1 << to remove after bootstrap-sass update
.controls-row [class*="span"] + [class*="span"] {
  @include responsive(mediaTablet) {
    margin-left: 20px;
  }
}
.controls-row {
  @include clearfix;
  *zoom: 1;
  label.checkbox {
    padding-top: 6px;
  }
}
.controls-row [class*="span"] {
  float: left;
}

.form-horizontal .control-group {
  margin-bottom: 0;
}

fieldset {
  margin-bottom: 18px;
}

select,
textarea,
label.checkbox,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 9px !important;
  font-size: 14px;
  line-height: 20px;
  color: $gray;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
textarea {
  height: auto;
}
select[class*="span"] {
  min-height: 30px;
  height: 30px;
  *margin-top: 4px;
  line-height: 30px;
}
// 


/* Layout */
// -------------------------

/* Header */
body > header {
  @include clearfix;
  background: white;
  height: 40px;
  padding: 10px 20px;

  .brand {
    font-weight: bold;
    float: left;
    font-size: 2.462em; // 32px
    line-height: 1.250em; // 40px
  }

  .options {
    float: right;
    margin-top: 10px;
    ul {
      @include horizontal-list(10px);
    }
  }
}

.options a, a.link {
  text-decoration: underline;
  &:hover { background: none; }
}

body > nav {
  margin: 20px 0;
  @include responsive(mediaTablet) {
    padding: 0 16px;
  }
  ul.nav {
    @include horizontal-list(15px);
    li {
      @include responsive(phone, $mediaTablet) {
        float: none;
        display:block;
        padding:0; margin:0;
      }
      &.active a { background-color: white; }
      a { 
        @include single-text-shadow(white, 0, 1px, 0);
        @include border-radius(4px);
        font-size: 1.077em;
        text-transform: uppercase;
        color: $grayDark;
        padding: 2px 5px;

        &:hover { 
          @include single-text-shadow($blueDark, 0, -1px, 0);
          background-color: $blue; 
          color: white;
        }        
      }
    }
  }
}


/* Content */
#page {
  margin: 0 40px 60px 20px;
  padding-bottom: 30px;
  & > .sheet { margin: 0 20px;}
  @include responsive(phone, $mediaTablet) { 
    margin: 0 20px 20px 0;
  }
}

.sheet {
  &.parent { 
    padding-bottom: 1px; 
    background: lighten($grayLighter, 3%);
    @include single-box-shadow($grayLight, 0, 2px, 8px);
    .sheet {
      margin:0 -10px -30px 10px;
      .level { color: $gray; }
    }
    .level { color: $grayLight; }
  }
  &.current {
    background: url("shadow_left.png") transparent no-repeat bottom left;
    padding-bottom: 28px;
    margin-bottom:-58px !important;
    .container-shadow {
      background: url("shadow_right.png") transparent no-repeat bottom right;
      padding-bottom: 28px;
      margin-bottom:-28px;
    }
  }
}

#content {
  @include single-box-shadow($grayLight, 0, 2px, 8px);
  background: white;
  padding: 16px 20px 20px;

  aside {
    @include responsive(phone, $mediaDesktop) { 
      margin-top: $vSpace;
    }
   
    h2 {
      border-bottom: 1px solid $grayLighter;
      padding-bottom: 10px;
      margin-bottom: $vSpace*0.5;
    }
  }

  section { 
    @include clearfix; 
    margin-top: $vSpace;
    &:first-child { margin-top:0; } 
  }
}


/* Footer */
body > footer { 
  padding-top: $vSpace*2;
  clear: both;

  color: $white;

  .footer_content {
    padding-top: 20px;
    padding-bottom: 20px;
    @include responsive(phone, $mediaTablet) {
      padding: 20px;
    }
  }

  & > .container-fluid {
    @include single-box-shadow($grayDarker, 0, 2px, 8px, 0, true);
    background: $grayDark;
  }
}
