/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require 'bootstrap_config'
 *= require_self
 *
 */
/* Imports Compass */
/* Bootstrap variable definition here */
/* Typo */
/* line 25, ../sass/application.scss */
h1 {
  font-size: 1.846em !important;
  border-bottom: 1px solid #f1f2f5;
  padding-bottom: 10px;
  margin-bottom: 20px !important;
}

/* line 31, ../sass/application.scss */
h2 {
  font-size: 1.385em !important;
}

/* Layout */
/* Header */
/* line 39, ../sass/application.scss */
header {
  overflow: hidden;
  *zoom: 1;
  background: white;
  height: 40px;
  padding: 10px 20px;
}
/* line 45, ../sass/application.scss */
header .brand {
  font-weight: bold;
  float: left;
  font-size: 2.462em;
  line-height: 1.250em;
}
/* line 52, ../sass/application.scss */
header .options {
  float: right;
  margin-top: 10px;
}
/* line 55, ../sass/application.scss */
header .options ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_0.13/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header .options ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 48, ../../../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_0.13/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header .options ul li:first-child, header .options ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_0.13/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header .options ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_0.13/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header .options ul li.last {
  padding-right: 0;
}

/* line 61, ../sass/application.scss */
.options a, a.link {
  text-decoration: underline;
}
/* line 63, ../sass/application.scss */
.options a:hover, a.link:hover {
  background: none;
}

/* line 66, ../sass/application.scss */
body > nav {
  margin: 20px 0;
}
@media (min-width: 480px) {
  /* line 66, ../sass/application.scss */
  body > nav {
    padding: 0 16px;
  }
}
/* line 71, ../sass/application.scss */
body > nav ul.nav {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_0.13/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body > nav ul.nav li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 48, ../../../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_0.13/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body > nav ul.nav li:first-child, body > nav ul.nav li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_0.13/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body > nav ul.nav li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../Applications/Fire.app/Contents/Resources/ruby/compass_0.13/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body > nav ul.nav li.last {
  padding-right: 0;
}
@media (max-width: 480px) {
  /* line 73, ../sass/application.scss */
  body > nav ul.nav li {
    float: none;
    display: block;
    padding: 0;
    margin: 0;
  }
}
/* line 79, ../sass/application.scss */
body > nav ul.nav li.active a {
  background-color: white;
}
/* line 80, ../sass/application.scss */
body > nav ul.nav li a {
  text-shadow: white 0 1px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: 1.077em;
  text-transform: uppercase;
  color: #5e6066;
  padding: 2px 5px;
}
/* line 88, ../sass/application.scss */
body > nav ul.nav li a:hover {
  text-shadow: #00173c 0 -1px 0;
  background-color: #013888;
  color: white;
}

/* Content */
/* line 100, ../sass/application.scss */
#page {
  margin: 0 40px 60px 20px;
  padding-bottom: 30px;
}
/* line 103, ../sass/application.scss */
#page > .sheet {
  margin: 0 20px;
}
@media (max-width: 480px) {
  /* line 100, ../sass/application.scss */
  #page {
    margin: 0 20px 20px 0;
  }
}

/* line 110, ../sass/application.scss */
.sheet.parent {
  padding-bottom: 1px;
  background: #fafafb;
  -webkit-box-shadow: 0 2px 8px #d1d3d9;
  -moz-box-shadow: 0 2px 8px #d1d3d9;
  box-shadow: 0 2px 8px #d1d3d9;
}
/* line 114, ../sass/application.scss */
.sheet.parent .sheet {
  margin: 0 -10px -30px 10px;
}
/* line 116, ../sass/application.scss */
.sheet.parent .sheet .breadcrump {
  color: #92959c;
}
/* line 118, ../sass/application.scss */
.sheet.parent .breadcrump {
  color: #d1d3d9;
}
/* line 120, ../sass/application.scss */
.sheet.current {
  background: url("shadow_left.png") transparent no-repeat bottom left;
  padding-bottom: 28px;
  margin-bottom: -58px !important;
}
/* line 124, ../sass/application.scss */
.sheet.current .container-shadow {
  background: url("shadow_right.png") transparent no-repeat bottom right;
  padding-bottom: 28px;
  margin-bottom: -28px;
}

/* line 132, ../sass/application.scss */
#content {
  -webkit-box-shadow: 0 2px 8px #d1d3d9;
  -moz-box-shadow: 0 2px 8px #d1d3d9;
  box-shadow: 0 2px 8px #d1d3d9;
  background: white;
  padding: 20px;
}

/* line 138, ../sass/application.scss */
.breadcrump {
  display: block;
  padding: 5px 10px;
  font-size: 1.385em;
  line-height: 1.538em;
}
