-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

= f.labeled_string_field(:label, help_inline: f.link_to_remove('Entfernen'))
= f.labeled_string_field(:location)
= f.labeled_datetime_field(:start_at)
= f.labeled_datetime_field(:finish_at)
.controls.fields-separation
  %hr

