= f.labeled_string_field(:label, help_inline: f.link_to_remove('Entfernen'))
= f.labeled_string_field(:location)
= f.labeled_datetime_field(:start_at)
= f.labeled_datetime_field(:finish_at)
.controls.fields-separation
  %hr

