%p Hallo #{@resource.to_s}!

- if @resource.encrypted_password.present?
  %p Du kannst dein #{Settings.application.name} Passwort unter folgendem Link zurücksetzen.
- else
  %p Willkommen bei #{Settings.application.name}! Du wurdest neu erfasst und hast ein Login erhalten.
  %p Bitte setze ein Passwort unter dem folgenden Link.

%p= link_to edit_password_url(@resource, reset_password_token: @resource.reset_password_token),
            edit_password_url(@resource, reset_password_token: @resource.reset_password_token)

- if @resource.encrypted_password.present?
  %p Wenn du dein Passwort nicht ändern willst, kannst du dieses E-Mail ignorieren.

  %p Dein Passwort ändert sich nicht ohne dass du auf dem obigen Link gehst und dort ein neues Passwort vergibst.
