%p Hallo #{@resource.first_name}!
%p Du kannst dein Passwort unter folgendem Link zurücksetzen.
%p= link_to edit_password_url(@resource, reset_password_token: @resource.reset_password_token), edit_password_url(@resource, reset_password_token: @resource.reset_password_token)
%p Wenn du dein Passwort nicht ändern willst, kannst du dieses E-Mail ignorieren.
%p Dein Passwort ändert sich nicht ohne dass du auf dem obigen Link gehst und dort ein neues Passwort vergiebst.
