%p Hallo #{@resource.email}!
%p Du kannst dein Passwort unter folgendem Link zur체cksetzen.
%p= link_to 'Mein Passwort zur체cksetzten', edit_password_url(@resource, reset_password_token: @resource.reset_password_token)
%p Wenn du dein Passwort nicht 채ndern willst, kannst du dieses E-Mail ignorieren.
%p Dein Passwort 채ndert sich nicht ohne dass du auf dem obigen Link gehst und dort ein neues Passwort vergiebst.
