-#  Copyright (c) 2023, Schweizer Wanderwege. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

.pagination-bar
  = paginate entries

= list_table do |t|
  - t.col(t.sort_header(:title)) do |invoice|
    %strong= link_to invoice.title, group_invoice_path(invoice.group_id, invoice)
  - t.sortable_attrs(:sequence_number, :state, :recipient, :issued_at, :sent_at, :due_at)
  - t.col(t.sort_header(:amount_paid), class: 'right') { |i| i.decorate.amount_paid }
  - t.col(t.sort_header(:total), class: 'right') { |i| i.decorate.total }

= paginate entries
