%h2=t('.header')

%p=t('.explain_csv_format')

%pre{style: 'padding-left: 1em;'}
  :preserve
    #{t('.example')}

%p=t('.explain_field_names')

%p=t('.explain_role')

%h3=t('.special_fields')

=t('.explain_special_fields_html')
%dl.dl-horizontal
  = csv_field_documentation(:gender, 'm' => t('global.gender.male'), 'w' => t('global.gender.female'))

  = render_extensions 'special_fields'
