-#  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- if f.object.requires_adult_consent?
  = f.labeled(:adult_consent, '&nbsp'.html_safe) do
    = f.label(:adult_consent, class: 'd-block mt-2') do
      = f.check_box :adult_consent, required: true
      = t('.caption', terms_link: link_to(t('.terms'), 'https://vibha.org/privacy-policy-2/', target: '_blank', rel: 'noopener noreferrer')).html_safe