= fields.labeled_input_fields(*entry.person.decorate.used_attributes(:first_name, :last_name, :nickname, :company_name, :company))
= fields.labeled_input_field :email, help_inline: t('people.email_field.used_as_login')
= render_extensions :additional_person_fields, locals: { fields: fields }
