-#  Copyright (c) 2019, Pfadibewegung Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

= crud_table do |t|
  - t.col(HelpText.human_attribute_name(:context))  { |help_text| help_text.context_human }
  - t.col(HelpText.human_attribute_name(:key))  { |help_text| help_text.key_human }
  - t.col(HelpText.human_attribute_name(:body)) { |help_text| help_text.body }
  - add_table_actions(t)
