name: "Prepare, Build and Release a new Version"

on:
  workflow_dispatch: # Allow triggering manually
    inputs:
      composition:
        description: "Composition repository, e.g. hitobito/ose_composition_demo"
        type: string
        required: true
        default: "hitobito/ose_composition_demo"
      stage:
        description: "Stage of Release to be prepared"
        required: true
        type: choice
        default: integration
        options:
          - integration
          - production
      release_type:
        description: "Type of Release: regular, patch or custom"
        required: false
        type: choice
        default: regular
        options:
          - regular
          - patch
          - custom
      next_version:
        description: "next version number, if release-type is custom"
        required: false
        type: string
      target_branch:
        description: "Branch of individual repos, mostly: master"
        required: false
        type: string
        default: master
      prevent_prepare:
        description: "Only show commands to prepare, do not execute them"
        required: false
        type: boolean
        default: false
      prevent_push:
        description: "Only build the image, do not push it"
        required: false
        type: boolean
        default: false
      #prevent_deployment:
      #  description: "Do not update the deployment-repo"
      #  required: false
      #  type: boolean
      #  default: false
  workflow_call:
    inputs:
      composition:
        description: "Composition repository, e.g. hitobito/ose_composition_generic"
        type: string
        required: true
      release_type:
        description: "Type of Release: regular, patch or custom"
        required: false
        type: string
        default: regular
      next_version:
        description: "next version number, if release-type is custom"
        required: false
        type: string
      stage:
        description: "Stage of Release to be prepared"
        required: true
        type: string
      target_branch:
        description: "Branch of individual repos, mostly: master"
        required: false
        type: string
        default: master
      prevent_prepare:
        description: "Only show commands to prepare, do not execute them"
        required: false
        type: boolean
        default: false
      prevent_push:
        description: "Only build the image, do not push it"
        required: false
        type: boolean
        default: false
      #prevent_deployment:
      #  description: "Do not update the deployment-repo"
      #  required: false
      #  type: boolean
      #  default: false

permissions:
  contents: write

jobs:
  settings:
    uses: ./.github/workflows/stage-settings.yml
    with:
      repository: ${{ inputs.composition }}
      stage: ${{ inputs.stage }}
      release_type: ${{ inputs.release_type }}
      prevent_prepare: ${{ inputs.prevent_prepare }}
      prevent_push: ${{ inputs.prevent_push }}
      prevent_deployment: false # ${{ inputs.prevent_deployment }}

  version:
    uses: ./.github/workflows/next-version.yml
    needs:
      - settings
    with:
      composition_repo: ${{ needs.settings.outputs.repo_name }}
      composition_ref: ${{ needs.settings.outputs.composition_branch }}
      release_type: ${{ needs.settings.outputs.release_type }}
      next_version: ${{ inputs.next_version }}

  prepare:
    uses: ./.github/workflows/prepare.yml
    needs:
      - version
      - settings
    with:
      composition: ${{ needs.settings.outputs.repo_name }}
      composition_branch: ${{ needs.settings.outputs.composition_branch }}
      version: ${{ needs.version.outputs.version }}
      stage: ${{ needs.settings.outputs.release_stage }}
      target_branch: ${{ inputs.target_branch }}
      dry_run: ${{ needs.settings.outputs.dry_run }}
    secrets: inherit

  build:
    uses: ./.github/workflows/build-image.yml
    needs:
      - settings
      - version
      # for ordering
      - prepare
    with:
      composition: ${{ needs.settings.outputs.repo_name }}
      source_ref: ${{ needs.settings.outputs.composition_branch }}
      project: ${{ needs.settings.outputs.project }}
      version: ${{ needs.version.outputs.version }}
      stage: ${{ needs.settings.outputs.release_stage }}
      push: ${{ needs.settings.outputs.push_image == 'true' }}
    secrets: inherit

  deploy:
    uses: ./.github/workflows/update_image.yml
    # if: ${{ needs.settings.outputs.update_deployment == 'true' }}
    needs:
      - settings
      - version
      # just for ordering
      - build
    with:
      repository: gitlab.puzzle.ch/pitc_hit/deployments/hitobito.git
      file: ./deployments/${{ needs.settings.outputs.namespace_name }}/kustomization.yaml
      image_tag: ${{ needs.version.outputs.version }}
      image_ref: rails
      identifier: ${{ needs.settings.outputs.namespace_name }}
    secrets: inherit

  notify:
    uses: ./.github/workflows/notify-statuscope.yml
    needs:
      - settings
      - deploy
    with:
      application: "${{ needs-settings.outputs.namespace_name }}-deploy"
      result: ${{ needs.deploy.result == 'success' }}
    secrets:
      HEARTBEAT_URL: ${{ secrets.HEARTBEAT_URL }}
      HEARTBEAT_TOKEN: ${{ secrets.HEARTBEAT_TOKEN_DEPLOYMENT }}
