name: 'Composition Repo - Determine latest published version'

on:
  workflow_call:
    inputs:
      repository_url:
        description: "Composition repository URL, e.g. https//github.com/hitobito/ose_composition_sjas.git"
        required: true
        type: string
      stage:
        description: "Stage of release to be prepared"
        required: true
        type: string
    outputs:
      version:
        value: ${{ jobs.version.outputs.version }}

jobs:
  version:
    runs-on: ubuntu-latest

    outputs:
      version: ${{ steps.determine.outputs.version }}

    steps:
      - name: 'Set up Ruby'
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0.6

      - name: 'Install dependencies'
        run: |
          gem install cmdparse

      - name: 'Install helper-script'
        env:
          VERSION_SOURCE: "https://raw.githubusercontent.com/hitobito/hitobito/master/bin/version"
        run: |
          mkdir -p bin
          curl --silent -k  "$VERSION_SOURCE" > bin/version
          chmod a+x bin/version

      - name: 'Determine current version'
        id: determine
        env:
          STAGE: ${{ inputs.stage }}
          REPO: ${{ inputs.repository_url }}
        run: |
          next_version=$(bin/version remote "$STAGE" "$REPO")
          echo "next version: ${next_version}"
          echo "version=${next_version}" >> "$GITHUB_OUTPUT"
