name: Security scanners

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  run-scanners:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Ruby and install gems
        uses: ruby/setup-ruby@v1.66.0
        env:
          ImageOS: ubuntu20
        with:
          bundler-cache: true

      - name: Run security checks
        run: |
          bin/bundle exec brakeman -q --exit-on-warn --ensure-ignore-notes --ensure-latest
