name: Update many production instances at once

on:
  workflow_dispatch:
    inputs:
      instances:
        type: string
        description: demo, cevi, die_mitte, digisus_lab, dsj, ejv, glp, insieme, jemk, jubla, multitenancy, pbs, pro_natura, sbv, sjas, skv, svse, swb, sww
        required: true
      release:
        type: choice
        description: Type of release. Regular is for normal, planned releases. Patch is for hotfixes and single-customer fix releases. Use custom to manually set a version number.
        required: true
        # default: regular # No default set, to force a conscious choice. Otherwise, in the stress of a Hotfix, a regular release could be selected.
        options:
          - regular
          - patch
          - custom
      version:
        type: string
        description: Manually set version number, if release type is custom
        required: false
      target_branch:
        type: string
        description: Release a specific branch of the core and wagons. Leave empty for intelligent defaults.
        required: false

permissions:
  contents: write

jobs:
  find-instances:
    name: Find all selected hitobito instances
    runs-on: ubuntu-latest
    outputs:
      instances: ${{ steps.format-instance-names.outputs.instances }}
    steps:
      - name: Format instance names
        id: format-instance-names
        run: |
          INSTANCES=$(echo "${{ inputs.instances }}" | jq -Rc '[splits("[ ,]+")]')
          echo $INSTANCES
          echo "instances=$INSTANCES" | tr -d "\n" >> $GITHUB_OUTPUT

  release:
    name: Update ${{ matrix.instance }} production
    needs:
      - find-instances
    strategy:
      fail-fast: false
      matrix:
        instance: ${{ fromJSON(needs.find-instances.outputs.instances) }}
      max-parallel: 5 # needed so we don't occupy all the runners
    uses: ./.github/workflows/release.yml
    with:
      composition: hitobito/ose_composition_${{ matrix.instance }}
      release_type: ${{ inputs.release }}
      next_version: ${{ inputs.version }}
      stage: production
      target_branch: ${{ inputs.target_branch }}
    secrets: inherit
