%div{style: 'max-height: 500px; margin-bottom: 20px; overflow: auto;'}
  = list_table do |t|
    - t.col("") do |p|
      - if p.errors.present?
        %i.icon.icon-warning-sign{title: 'Ungültige Werte'}
      - elsif p.persisted?
        %i.icon.icon-refresh{title: 'Wird aktualisiert'}
      - else
        %i.icon.icon-plus{title: 'Wird neu erfasst'}

    - t.attrs *relevant_attrs

    - [:phone_numbers, :social_accounts].each do |contact_type|
      - relevant_contacts(contact_type) do |account|
        - t.col(account[:value]) { |p| contact_value(account[:key], p.phone_numbers) }