- hitobito_env = ENV.fetch("HITOBITO_STAGE", Rails.env.to_s)
- unless hitobito_env == "production"
  .environment-header.d-flex.align-items-center.p-3.w-100.position-sticky.top-0.text-white
    %h1.m-0= "#{t("global.environment")}: #{hitobito_env.upcase}"
