-#  Copyright (c) 2012-2018, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

#file-download-spinner.hidden{"data-turbolinks-permanent" => ""}
  .info-bar
    .alert-info
      = image_pack_tag('spinner.gif', size: '16x16', class: 'spinner')
      %span= t('.wait_for_downloads')
      %span.progress.hidden
        %span.value 0%

      = link_to(t('.cancel_downloads'), '#', id: 'cancel_async_downloads')
