- languages = Settings.application.languages.to_hash
- if languages.size > 1
  -# no turbolinks to switch lang attribute in html tag
  .lang{'data-no-turbolink' => true}
    - languages.each do |lang, label|
      = link_to lang.upcase,
                url_for(params.to_unsafe_h.merge(locale: lang, only_path: true)),
                title: label,
                class: (lang == I18n.locale ? 'active' : nil)
