%ul.nav
  = nav "Gruppen", groups_path, %w(groups people)
  = nav "Kurse/Events", event_courses_path, %w(event_courses)
  = nav "Admin", event_kinds_path, %w(event_kinds) if can?(:manage, Event::Kind)
