-#  Copyright (c) 2018, Grünliberale Partei Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

#synchronization-spinner.hidden{"data-turbolinks-permanent" => ""}
  .info-bar
    .alert-info
      = image_pack_tag('spinner.gif', size: '16x16', class: 'spinner')
      = t('.wait_for_synchronization')
      = link_to(t('.cancel_synchronization'), '#', id: 'cancel_async_synchronizations')
