-#  Copyright (c) 2012-2014, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

.user-impersonation.info-bar
  .alert-danger
    = t('.info', user: current_user)
    = link_to(sign_out_path,
              data: { method: :delete }) do

      = icon('times-circle')
      = t('.end')
