- #  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
- #  hitobito and licensed under the Affero General Public License version 3
- #  or later. See the COPYING file at the top-level directory or at
- #  https://github.com/hitobito/hitobito.

%table.table
  %tbody
  - entry.members.each do |member|
    = render 'members_table_row', member: member, member_ids: household_member_ids_without(member), row_class: household_member_row_class(member)
