- #  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
- #  hitobito and licensed under the Affero General Public License version 3
- #  or later. See the COPYING file at the top-level directory or at
- #  https://github.com/hitobito/hitobito.

= standard_form(entry, url: group_person_household_path, method: :put, data: { turbo_frame: :_top }) do |f|
  = render "hidden_member_fields"

  .mt-5
    = submit_button(f, t('global.button.save'), { disabled: !entry.valid? })
    = link_to(ti(:'button.cancel'), parents, class: 'link cancel', data: { turbo_frame: :_top})
